
{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'theme.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'rmodal.js' %}"></script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Aggregated Raw Signals Explorer
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
    </script>
    <script type="text/javascript">
      function handleClick(cb) {
        var divName = cb.value + "_chart";
        var element = document.getElementById(divName);
               if(cb.checked)
                  element.style.display = 'block';
               else
                  element.style.display = 'none';
      }
    </script>

    <script type="text/javascript">
        function getSamplesStep (nSamples, maxNumberPoints) {

            var samplesPerSecond = 63; // sampleRate = 16ms
            //var samplesPerSecond = 50; // sampleRate = 20ms

            var stepSamples = parseInt(samplesPerSecond*1800); // 1 sample each 30 minutes

            if ((nSamples/(samplesPerSecond*600))<maxNumberPoints) { // 1 sample each 10 minutes
                stepSamples = parseInt(samplesPerSecond*600);
            }
            if ((nSamples/(samplesPerSecond*60))<maxNumberPoints) { // 1 sample each minute
                stepSamples = parseInt(samplesPerSecond*60);
            }
            if ((nSamples/(samplesPerSecond*30))<maxNumberPoints) { // 1 sample each 30 seconds
                stepSamples = parseInt(samplesPerSecond*30);
            }
            if ((nSamples/(samplesPerSecond))<maxNumberPoints) { // 1 sample each 1 second
                stepSamples = parseInt(samplesPerSecond);
            }
            if (nSamples<maxNumberPoints) { // all samples
                stepSamples = 1;
            }
            return stepSamples;

        }
    </script>

    <script type="text/javascript">

        var maxNumberPointsPerChart = 1500;
        var maxNumberPointsPerChart2 = 2000;
        var samplesPerSecond = 63; // sampleRate = 16ms
        var dataDates = [];
        var index = 0;

        var startDateTime;
        var endDateTime;

        var control = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'control',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

       var annotationControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'annotationControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });


         var sensorAccMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorAccMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });


         var sensorOrientMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorOrientMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorAccCorrMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorAccCorrMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorGyroMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorGyroMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorAccControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorAccControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorGyroControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorGyroControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorHRControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorHRControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

        var sensorSTControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorSTControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

        var pedometerControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'pedometerControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });



      function drawVisualization()
      {

        var controlChart = new google.visualization.ChartWrapper({
           'chartType': 'LineChart',
           'containerId': 'controlChart',
           'options': {
             // Use the same chart area width as the control for axis alignment.
             'chartArea': {'height': '60%', 'width': '100%'},
             'hAxis': {'slantedText': false},
             'legend': {'position': 'bottom'}
           },
           // Convert the first column from 'date' to 'string'.
           'view': {
             'columns': [
               {
                 'calc': function(dataControl, rowIndex) {
                   var date = dataControl.getFormattedValue(rowIndex, 0);
                   var splitDate = date.split(' ');
                   return splitDate[3];
                 },
                 'type': 'string'
               }, 1]
           }
         });


         document.getElementById('control_chart').style.display = 'none';
         var dataControl = new google.visualization.DataTable();
         dataControl.addColumn('datetime', 'Timestamp');
         dataControl.addColumn('number', ' ');

            for (var i = 0; i < 23; i++) {
               var date1= new Date('{{year}}', '{{month}}'-1, '{{day}}', i, 0, 0, 0);
               var date2= new Date('{{year}}', '{{month}}'-1, '{{day}}', i, 30, 0, 0);
               dataControl.addRow([date1, 0]);
               dataControl.addRow([date2, 0]);
            }
         var controlDashboard = new google.visualization.Dashboard(document.getElementById('controlChart'));
         controlDashboard.bind(control, controlChart);
         controlDashboard.draw(dataControl);


        google.visualization.events.addListener(control, 'statechange', function() {
                    annotationControl.setState(control.getState());
                    annotationControl.draw();
                    sensorAccMobileControl.setState(control.getState());
                    sensorAccMobileControl.draw();
                    sensorOrientMobileControl.setState(control.getState());
                    sensorOrientMobileControl.draw();
                    sensorAccCorrMobileControl.setState(control.getState());
                    sensorAccCorrMobileControl.draw();
                    sensorGyroMobileControl.setState(control.getState());
                    sensorGyroMobileControl.draw();
                    sensorAccControl.setState(control.getState());
                    sensorAccControl.draw();
                    sensorGyroControl.setState(control.getState());
                    sensorGyroControl.draw();
                    sensorHRControl.setState(control.getState());
                    sensorHRControl.draw();
                    sensorSTControl.setState(control.getState());
                    sensorSTControl.draw();
                    pedometerControl.setState(control.getState());
                    pedometerControl.draw();
                });

        control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorAccMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorOrientMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorAccCorrMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorGyroMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorAccControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorGyroControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorHRControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        sensorSTControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        pedometerControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});

      }
      google.setOnLoadCallback(drawVisualization);


      // -- Annotation
      function showAnnotation(json)
        {
            if (json == '[]')
            {
                document.getElementById('annotation_chart').style.display = 'none';
            }
            else
            {
                var annotationChart = new google.visualization.ChartWrapper({
                   'chartType': 'SteppedAreaChart',
                   'containerId': 'annotationChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Annotation',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'UPDRS'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc':
                          function(step_length_data, rowIndex)
                          {
                               var date = String(step_length_data.getValue(rowIndex, 0));
                               var splitDate = date.split(' ');
                               return splitDate[4];
                           },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });

                var dataAnnotation = new google.visualization.DataTable();
                dataAnnotation.addColumn('datetime', 'Date');
                dataAnnotation.addColumn('number', 'Bradykinesia');
                dataAnnotation.addColumn('number', 'LID');
                dataAnnotation.addColumn('number', 'Tremor');
                dataAnnotation.addColumn('number', 'Gait');

                var data = JSON.parse(json);
                var nRows = data.length;
                var stepSamplesPerPoint = getSamplesStep (nRows-1, 1500);
                var timestamp = '';
                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                for (var i = 1; i<nRows; i+=stepSamplesPerPoint)
                {
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    var col4 = parseFloat(row[4]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataAnnotation.addRow([dateAux, col1, col2, col3, col4]);
                }

                if (dataAnnotation.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataAnnotation.getValue(0, 0));
                    var vEnd = new Date(dataAnnotation.getValue(dataAnnotation.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var annotationDashboard = new google.visualization.Dashboard(document.getElementById('annotationChart'));
                annotationDashboard.bind(annotationControl, annotationChart);
                annotationDashboard.draw(dataAnnotation);

                annotationControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            }
        }

        // -- Accelerometer mobile
        function showAccelerometer(json)
        {
            if (json == '[]') {
                document.getElementById('sensorAccMobile_chart').style.display = 'none';
                document.getElementById('sensorAccMobileCB').disabled = 'disabled';
            } else {
                var sensorAccMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorAccMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Acc Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorAccMobile, rowIndex) {
                           var date = dataSensorAccMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });

                var dataSensorAccMobile = new google.visualization.DataTable();
                dataSensorAccMobile.addColumn('datetime', 'Date');
                dataSensorAccMobile.addColumn('number', 'Mean - STD');
                dataSensorAccMobile.addColumn('number', 'Mean');
                dataSensorAccMobile.addColumn('number', 'Mean');
                dataSensorAccMobile.addColumn('number', 'Mean + STD');

                var data = JSON.parse(json);
                var nRows = data.length;

                for (var i=0; i<nRows; i++)
                {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorAccMobile.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorAccMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorAccMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorAccMobile.getValue(dataSensorAccMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorAccMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensorAccMobileChart'));
                sensorAccMobileDashboard.bind(sensorAccMobileControl, sensorAccMobileChart);
                sensorAccMobileDashboard.draw(dataSensorAccMobile);
            }
        }

        function showOrientation(json)
        {
            // -- Orientation mobile
            if (json == '[]')
            {
                document.getElementById('sensorOrientMobile_chart').style.display = 'none';
                document.getElementById('sensorOrientMobileCB').disabled = 'disabled';
            }
            else
             {
                var sensorOrientMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorOrientMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Orient Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorOrientMobile, rowIndex) {
                           var date = dataSensorOrientMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });

                var dataSensorOrientMobile = new google.visualization.DataTable();
                dataSensorOrientMobile.addColumn('datetime', 'Date');
                dataSensorOrientMobile.addColumn('number', 'Mean - STD');
                dataSensorOrientMobile.addColumn('number', 'Mean');
                dataSensorOrientMobile.addColumn('number', 'Mean');
                dataSensorOrientMobile.addColumn('number', 'Mean + STD');

                var data = JSON.parse(json);
                var nRows = data.length;

                for (var i=0; i<nRows; i++)
                {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorOrientMobile.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorOrientMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorOrientMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorOrientMobile.getValue(dataSensorOrientMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorOrientMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensorOrientMobileChart'));
                sensorOrientMobileDashboard.bind(sensorOrientMobileControl, sensorOrientMobileChart);
                sensorOrientMobileDashboard.draw(dataSensorOrientMobile);
            }
        }


        // Acc Corr Mobile
        function showAccCorrected(json)
        {
            if (json == '[]') {
                document.getElementById('sensorAccCorrMobile_chart').style.display = 'none';
                document.getElementById('sensorAccCorrMobileCB').disabled = 'disabled';
            }
            else
             {
                var sensorAccCorrMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorAccCorrMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Acc Corr Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorAccCorrMobile, rowIndex) {
                           var date = dataSensorAccCorrMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                });

                var dataSensorAccCorrMobile = new google.visualization.DataTable();
                dataSensorAccCorrMobile.addColumn('datetime', 'Date');
                dataSensorAccCorrMobile.addColumn('number', 'Mean - STD');
                dataSensorAccCorrMobile.addColumn('number', 'Mean');
                dataSensorAccCorrMobile.addColumn('number', 'Mean');
                dataSensorAccCorrMobile.addColumn('number', 'Mean + STD');

                var data = JSON.parse(json);
                var nRows = data.length;

                for (var i=0; i<nRows; i++)
                {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorAccCorrMobile.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorAccCorrMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorAccCorrMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorAccCorrMobile.getValue(dataSensorAccCorrMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorAccCorrMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensorAccCorrMobileChart'));
                sensorAccCorrMobileDashboard.bind(sensorAccCorrMobileControl, sensorAccCorrMobileChart);
                sensorAccCorrMobileDashboard.draw(dataSensorAccCorrMobile);
            }
        }

        // Gyro Mobile
        function showGyroMobile(json)
        {
            if (json == '[]') {
                document.getElementById('sensorGyroMobile_chart').style.display = 'none';
                document.getElementById('sensorGyroMobileCB').disabled = 'disabled';
            } else {

                var sensorGyroMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorGyroMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Gyro Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false,'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},

                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorGyroMobile, rowIndex) {
                           var date = dataSensorGyroMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                });

                var dataSensorGyroMobile = new google.visualization.DataTable();
                dataSensorGyroMobile.addColumn('datetime', 'Date');
                dataSensorGyroMobile.addColumn('number', 'Mean - STD');
                dataSensorGyroMobile.addColumn('number', 'Mean');
                dataSensorGyroMobile.addColumn('number', 'Mean');
                dataSensorGyroMobile.addColumn('number', 'Mean + STD');

                var data = JSON.parse(json);
                var nRows = data.length;

                for (var i=0; i<nRows; i++)
                {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorGyroMobile.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorGyroMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorGyroMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorGyroMobile.getValue(dataSensorGyroMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorGyroMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensorGyroMobileChart'));
                sensorGyroMobileDashboard.bind(sensorGyroMobileControl, sensorGyroMobileChart);
                sensorGyroMobileDashboard.draw(dataSensorGyroMobile);
            }
        }


        // Sensor Acc
        function showSensorAcc(json)
        {
            if (json == '[]') {
                document.getElementById('sensorAcc_chart').style.display = 'none';
                document.getElementById('sensorAccCB').disabled = 'disabled';
            } else {

                var sensorAccChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorAccChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Acc',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false,'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorAcc, rowIndex) {
                           var date = dataSensorAcc.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });

                var dataSensorAcc = new google.visualization.DataTable();
                dataSensorAcc.addColumn('datetime', 'Date');
                dataSensorAcc.addColumn('number', 'Mean');
                dataSensorAcc.addColumn('number', 'Mean - STD');
                dataSensorAcc.addColumn('number', 'Mean + STD');
                dataSensorAcc.addColumn('number', 'Mean');

                 var data = JSON.parse(json);
                 var nRows = data.length;

                for (var i=0; i<nRows; i++)
                {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorAcc.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorAcc.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorAcc.getValue(0, 0));
                    var vEnd = new Date(dataSensorAcc.getValue(dataSensorAcc.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorAccDashboard = new google.visualization.Dashboard(document.getElementById('sensorAccChart'));
                sensorAccDashboard.bind(sensorAccControl, sensorAccChart);
                sensorAccDashboard.draw(dataSensorAcc);
            }
        }


        // Gyro
        function showGyro(json)
        {
            if (json == '[]') {
                document.getElementById('sensorGyro_chart').style.display = 'none';
                document.getElementById('sensorGyroCB').disabled = 'disabled';
            } else {

                var sensorGyroChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorGyroChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Gyro',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorGyro, rowIndex) {
                           var date = dataSensorGyro.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                });

                var dataSensorGyro = new google.visualization.DataTable();
                dataSensorGyro.addColumn('datetime', 'Date');
                dataSensorGyro.addColumn('number', 'Mean - STD');
                dataSensorGyro.addColumn('number', 'Mean');
                dataSensorGyro.addColumn('number', 'Mean');
                dataSensorGyro.addColumn('number', 'Mean + STD');

                 var data = JSON.parse(json);
                 var nRows = data.length;

                for (var i=0; i<nRows; i++)
                {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorGyro.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorGyro.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorGyro.getValue(0, 0));
                    var vEnd = new Date(dataSensorGyro.getValue(dataSensorGyro.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorGyroDashboard = new google.visualization.Dashboard(document.getElementById('sensorGyroChart'));
                sensorGyroDashboard.bind(sensorGyroControl, sensorGyroChart);
                sensorGyroDashboard.draw(dataSensorGyro);
            }
        }


        // HR
        function showHR(json)
        {
            if (json == '[]') {
                document.getElementById('sensorHR_chart').style.display = 'none';
                document.getElementById('sensorHRCB').disabled = 'disabled';
            } else {

                var sensorHRChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorHRChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor HR',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorHR, rowIndex) {
                           var date = dataSensorHR.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });

                var dataSensorHR = new google.visualization.DataTable();
                dataSensorHR.addColumn('datetime', 'Date');
                dataSensorHR.addColumn('number', 'Mean - STD');
                dataSensorHR.addColumn('number', 'Mean');
                dataSensorHR.addColumn('number', 'Mean');
                dataSensorHR.addColumn('number', 'Mean + STD');

                 var data = JSON.parse(json);
                 var nRows = data.length;

                  for (var i=0; i<nRows; i++)
                  {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorHR.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorHR.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorHR.getValue(0, 0));
                    var vEnd = new Date(dataSensorHR.getValue(dataSensorHR.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorHRDashboard = new google.visualization.Dashboard(document.getElementById('sensorHRChart'));
                sensorHRDashboard.bind(sensorHRControl, sensorHRChart);
                sensorHRDashboard.draw(dataSensorHR);
            }
        }


        // ST
        function showST(json)
        {
            if (json == '[]') {
                document.getElementById('sensorST_chart').style.display = 'none';
                document.getElementById('sensorSTCB').disabled = 'disabled';
            } else {

                 var sensorSTChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'sensorSTChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor ST',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorST, rowIndex) {
                           var date = dataSensorST.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });

                var dataSensorST = new google.visualization.DataTable();
                dataSensorST.addColumn('datetime', 'Date');
                dataSensorST.addColumn('number', 'Mean - STD');
                dataSensorST.addColumn('number', 'Mean');
                dataSensorST.addColumn('number', 'Mean');
                dataSensorST.addColumn('number', 'Mean + STD');

                var data = JSON.parse(json);
                var nRows = data.length;

                for (var i=0; i<nRows; i++)
                  {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataSensorST.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataSensorST.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorST.getValue(0, 0));
                    var vEnd = new Date(dataSensorST.getValue(dataSensorST.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var sensorSTDashboard = new google.visualization.Dashboard(document.getElementById('sensorSTChart'));
                sensorSTDashboard.bind(sensorSTControl, sensorSTChart);
                sensorSTDashboard.draw(dataSensorST);
            }
        }


        // Pedometer
        function showPedometer(json)
        {
            if (json == '[]') {
                document.getElementById('pedometer_chart').style.display = 'none';
                document.getElementById('pedometerCB').disabled = 'disabled';
            } else {
                 var pedometerChart = new google.visualization.ChartWrapper({
                   'chartType': 'CandlestickChart',
                   'containerId': 'pedometerChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Pedometer',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Mean value'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataPedometer, rowIndex) {
                           var date = dataPedometer.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });


                var dataPedometer = new google.visualization.DataTable();
                dataPedometer.addColumn('datetime', 'Date');
                dataPedometer.addColumn('number', 'Mean - STD');
                dataPedometer.addColumn('number', 'Mean');
                dataPedometer.addColumn('number', 'Mean');
                dataPedometer.addColumn('number', 'Mean + STD');

                var data = JSON.parse(json);
                var nRows = data.length;

                for (var i=0; i<nRows; i++)
                  {
                    var item = data[i];
                    var date = new Date(item[0])
                    var mean = item[1]
                    var std = item[2]

                    var col1 = parseFloat(mean - std);
                    var col2 = parseFloat(mean);
                    var col3 = parseFloat(+mean + +std);

                    dataPedometer.addRow([date, col1, col2, col2, col3]);
                    if (mean!=0) // Comprobar que se pueda comparar directamente con numero
                    {
                        dataDates[index] = date;
                        index = index + 1;
                    }
                }

                if (dataPedometer.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataPedometer.getValue(0, 0));
                    var vEnd = new Date(dataPedometer.getValue(dataPedometer.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                 var pedometerDashboard = new google.visualization.Dashboard(document.getElementById('pedometerChart'));
                 pedometerDashboard.bind(pedometerControl, pedometerChart);
                 pedometerDashboard.draw(dataPedometer);
            }
        }




    // -- AJAX CALLS!
      var params = 'pk='+ '{{patient}}' + '&year=' + '{{year}}' + '&month=' + '{{month}}' + '&day=' + '{{day}}';

// - Annotation
      var ajaxAnnotation = new XMLHttpRequest();
        ajaxAnnotation.onreadystatechange = function()
        {
            if (ajaxAnnotation.readyState==4 && ajaxAnnotation.status==200)
            {
                showAnnotation(ajaxAnnotation.responseText);
                document.getElementById("loading_annotation").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/annotation/" + '?' + params;
        ajaxAnnotation.open("GET", url, true);
        ajaxAnnotation.send();

// -- Accelerometer Mobile
        var ajaxAccelMobile = new XMLHttpRequest();
        ajaxAccelMobile.onreadystatechange = function()
        {
            if (ajaxAccelMobile.readyState==4 && ajaxAccelMobile.status==200)
            {
                showAccelerometer(ajaxAccelMobile.responseText);
                document.getElementById("loading_sensor_acc_mobile").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/accelerometer/" + '?' + params;
        ajaxAccelMobile.open("GET", url, true);
        ajaxAccelMobile.send();

// -- Orientation
        var ajaxOrientation = new XMLHttpRequest();
        ajaxOrientation.onreadystatechange = function()
        {
            if (ajaxOrientation.readyState==4 && ajaxOrientation.status==200)
            {
                showOrientation(ajaxOrientation.responseText);
                document.getElementById("loading_orientation").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/orientation/" + '?' + params;
        ajaxOrientation.open("GET", url, true);
        ajaxOrientation.send();

// -- Acc Corrected
        var ajaxAccCorrected = new XMLHttpRequest();
        ajaxAccCorrected.onreadystatechange = function()
        {
            if (ajaxAccCorrected.readyState==4 && ajaxAccCorrected.status==200)
            {
                showAccCorrected(ajaxAccCorrected.responseText);
                document.getElementById("loading_acc_corrected").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/acmcorrected/" + '?' + params;
        ajaxAccCorrected.open("GET", url, true);
        ajaxAccCorrected.send();

// -- Gyro Mobile
        var ajaxGyroMobile = new XMLHttpRequest();
        ajaxGyroMobile.onreadystatechange = function()
        {
            if (ajaxGyroMobile.readyState==4 && ajaxGyroMobile.status==200)
            {
                showGyroMobile(ajaxGyroMobile.responseText);
                document.getElementById("loading_gyro_mobile").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/gyromobile/" + '?' + params;
        ajaxGyroMobile.open("GET", url, true);
        ajaxGyroMobile.send();

// -- Sensor Acc
        var ajaxSensorAcc = new XMLHttpRequest();
        ajaxSensorAcc.onreadystatechange = function()
        {
            if (ajaxSensorAcc.readyState==4 && ajaxSensorAcc.status==200)
            {
                showSensorAcc(ajaxSensorAcc.responseText);
                document.getElementById("loading_sensor_acc").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/sensoracc/" + '?' + params;
        ajaxSensorAcc.open("GET", url, true);
        ajaxSensorAcc.send();

// -- Gyroscope
        var ajaxGyro = new XMLHttpRequest();
        ajaxGyro.onreadystatechange = function()
        {
            if (ajaxGyro.readyState==4 && ajaxGyro.status==200)
            {
                showGyro(ajaxGyro.responseText);
                document.getElementById("loading_gyro").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/gyro/" + '?' + params;
        ajaxGyro.open("GET", url, true);
        ajaxGyro.send();

// -- HR
        var ajaxHR = new XMLHttpRequest();
        ajaxHR.onreadystatechange = function()
        {
            if (ajaxHR.readyState==4 && ajaxHR.status==200)
            {
                showHR(ajaxHR.responseText);
                document.getElementById("loading_hr").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/hr/" + '?' + params;
        ajaxHR.open("GET", url, true);
        ajaxHR.send();

// -- ST
        var ajaxST = new XMLHttpRequest();
        ajaxST.onreadystatechange = function()
        {
            if (ajaxST.readyState==4 && ajaxST.status==200)
            {
                showST(ajaxST.responseText);
                document.getElementById("loading_st").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/st/" + '?' + params;
        ajaxST.open("GET", url, true);
        ajaxST.send();

// -- Pedometer
        var ajaxPdm = new XMLHttpRequest();
        ajaxPdm.onreadystatechange = function()
        {
            if (ajaxPdm.readyState==4 && ajaxPdm.status==200)
            {
                showPedometer(ajaxPdm.responseText);
                document.getElementById("loading_pedometer").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/pedometer/" + '?' + params;
        ajaxPdm.open("GET", url, true);
        ajaxPdm.send();

    </script>
  </head>
  <body id="body">
      <div class="headsection group" >
          <div id="horizontal">
              <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="100%" >
              {% if user.is_authenticated %}
              <p class="top-menu" style="margin-left:10px; margin-top:50px;">
                  Welcome {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)
              </p>
              {% endif %}
          </div>
          <div class="headcol headspan_2_of_2">
              {% if user.is_authenticated %}
              <p>Go back to <a href="{% url 'dashboard' %}"> Dashboard</a> > <a href="{% url 'explore_data' pk=patient %}"> Explore data</a></p>
              <p>
                  Navigate to:
                  <a href="{% url 'raw_data_sens' pk=patient year=year month=month day=day%}">Sensor's Raw Data</a>   |
                  <a href="{% url 'raw_data_cog' pk=patient year=year month=month day=day hasSensorsData=1%}">Cognitive Raw Data</a>
              </p>
              {% else %}
              <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
              {% endif %}
          </div>
      </div>

      <div id="selection" style="width:95%; height: 125px; position:relative; left:15px;" >
          <div style='width: 80%; height: 110px; position:absolute; left:15px; top: 15px;'>
            <div style="height: 15px; width:95%; position:absolute; left:15px; top: 15px; ">
                <label>Sensor data</label>
             </div>
            <div style='width: 95%; height: 75px; position:absolute; left:25px; top: 15px;'>

                <div style='width: 15%; height: 75px; position:absolute; left:15px; top: 25px'>
                    <div id="annotation_cb">
                        <label style="height: 10px; width: 80%">Annotation</label>
                        <input id="annotationCB" type="checkbox" value="annotation" style="height: 15px; width: 15px;" checked  onclick="handleClick(this)">
                    </div>
                    <div id="sensorAccMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Acc Mobile</label>
                        <input id="sensorAccMobileCB" type="checkbox" value="sensorAccMobile" style="height: 15px; width: 15px;" checked  onclick="handleClick(this)">
                    </div>
                </div>
                <div style='width: 18%; height: 75px; position:absolute; left:240px; top: 25px'>
                    <div id = "sensorOrientMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Orient Mobile</label>
                        <input id = "sensorOrientMobileCB" type="checkbox" value="sensorOrientMobile" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id = "sensorAccCorrMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Acc Corr Mobile</label>
                        <input id = "sensorAccCorrMobileCB" type="checkbox" value="sensorAccCorrMobile" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                 </div>
                <div style='width: 15%; height: 75px; position:absolute; left:490px; top: 25px'>
                    <div id="sensorGyroMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Gyro Mobile</label>
                        <input id="sensorGyroMobileCB" type="checkbox" value="sensorGyroMobile" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                     <div id="sensorAcc_cb">
                        <label style="height: 10px; width: 80%">Sensor Acc</label>
                        <input id="sensorAccCB" type="checkbox" value="sensorAcc" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                 </div>
                <div style='width: 10%; height: 75px; position:absolute; left:715px; top: 25px'>
                    <div id="sensorGyro_cb">
                        <label style="height: 10px; width: 80%">Sensor Gyro</label>
                        <input id="sensorGyroCB" type="checkbox" value="sensorGyro" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="sensorHR_cb">
                        <label style="height: 10px; width: 80%">Sensor HR</label>
                        <input id="sensorHRCB" type="checkbox" value="sensorHR" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                </div>
                <div style='width: 10%; height: 75px; position:absolute; left:890px; top: 25px'>
                    <div id="sensorST_cb">
                        <label style="height: 10px; width: 80%">Sensor ST</label>
                        <input id="sensorSTCB" type="checkbox"  value="sensorST" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="pedometer_cb">
                        <label style="height: 10px; width: 80%">Pedometer</label>
                        <input id="pedometerCB" type="checkbox" value="pedometer" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                </div>

            </div>
            </div>
        </div>

      <div id = "dashboard">
        <div style='width: 98%; height: 75px; position:relative'>

            <div id="control" style='width: 100%; height: 50px; position:absolute; top: 15px'></div>
            <div id="annotationControl" style='display:none'></div>
            <div id="sensorAccMobileControl" style='display:none'></div>
            <div id="sensorOrientMobileControl" style='display:none'></div>
            <div id="sensorAccCorrMobileControl" style='display:none'></div>
            <div id="sensorGyroMobileControl" style='display:none'></div>
            <div id="sensorAccControl" style='display:none'></div>
            <div id="sensorGyroControl" style='display:none'></div>
            <div id="sensorHRControl" style='display:none'></div>
            <div id="sensorSTControl" style='display:none'></div>
            <div id="pedometerControl" style='display:none'></div>
        </div>
         <div id = "control_chart" style='width: 98%; height: 250px; position:relative;'>
            <div id="controlChart" style="width:100%; height: 225px; position:absolute; top: 15px"></div>
        </div>
        <div id = "annotation_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="annotationChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
                <div id="loading_annotation" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id = "sensorAccMobile_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorAccMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
                <div id="loading_sensor_acc_mobile" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorOrientMobile_chart" style='width: 95%; height: 300px; position:relative'>
	        <div id="sensorOrientMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
                <div id="loading_orientation" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorAccCorrMobile_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorAccCorrMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_acc_corrected" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id = "sensorGyroMobile_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorGyroMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_gyro_mobile" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorAcc_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorAccChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_sensor_acc" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorGyro_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorGyroChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_gyro" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorHR_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorHRChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_hr" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorST_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorSTChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_st" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="pedometer_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="pedometerChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_pedometer" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        </div>
  </body>
</html>