{% load staticfiles %}


<html>
<head>
	<link rel="stylesheet" href="{% static 'theme.css' %}">
    <link rel="stylesheet" href="{% static 'progressbar.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'rmodal.js' %}"></script>


    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Google Visualization API Sample
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
	    google.load("visualization", "1.1", {packages:["calendar"]});
        google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
    </script>

    <script type="text/javascript">


        function drawVisualization() {

            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'date', id: 'Date' });
            dataTable.addColumn({ type: 'number', id: 'HasData' });


            var fold = '{{folders}}';
            var file = '{{files}}';
            var foldersNumber = {{folders|length}};
            var filesNumber = {{files|length}};

            //Files
            var nDates = 0;

            for (var i = 0; i < filesNumber; i++) {
                data = file.split(',')[i].split(';')[2].split('&')[0]
                if (data != 'Timestamp') {
                    dataTable.addRow([new Date (data.split(' ')[0].split('-')[0], data.split(' ')[0].split('-')[1]-1, data.split(' ')[0].split('-')[2]),1]);
                }
            }


            //Folders
            for (var i = 0; i < foldersNumber; i++)
            {
                dataTable.addRow( [new Date(fold.split(',')[i].split(';')[1].split('_')[0], fold.split(',')[i].split(';')[1].split('_')[2]-1, fold.split(',')[i].split(';')[1].split('_')[1]), 1]);
            }

            var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

           var options = {

             title: "Sessions",

             calendar: {
                  cellColor: {
                    stroke: '#76a7fa',
                    strokeOpacity: 0.5,
                    strokeWidth: 1,
                  }
             },
             colorAxis: {
                  minValue: 0,
                  maxValue: 1,
                  colors: ['white', 'blue']
                  }
           };

            chart.draw(dataTable, options);

           // Every time the table fires the "select" event, it should call your
           // selectHandler() function.

           google.visualization.events.addListener(chart, 'select', selectHandler);

           function selectHandler() {

             var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var value = dataTable.getValue(selectedItem.row, 1);
                    if (value == 1) {
                        var selectedDate = dataTable.getValue(selectedItem.row, 0)
                        var year = selectedDate.getFullYear();
                        var month = selectedDate.getMonth()+1;
                        if (month < 10) {
                            month = "0"+ month;
                        }
                        var day = selectedDate.getDate();
                        if (day < 10) {
                            day = "0"+ day;
                        }

                        window.location = 'show_data/' + year + '/' + month + '/' + day;
                    }
                }
	        }
        }

        google.setOnLoadCallback(drawVisualization);
    </script>
  </head>

  <body id="body" style="overflow:hidden;">
      <div class="headsection group" >
          <div id="horizontal">
              <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="100%" >
              {% if user.is_authenticated %}
              <p class="top-menu" style="margin-left:10px; margin-top:50px;">
                  Welcome {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)
              </p>
              {% endif %}
          </div>
          <div class="headcol headspan_2_of_2">
              {% if user.is_authenticated %}
              <p>Go back to <a href="{% url 'dashboard' %}">dashboard</a></p>
              <p>Add data <a href="{% url 'files' pk=patient %}">files</a></p>
              {% else %}
              <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>

              {% endif %}
          </div>
      </div>
      <div id="calendar_basic" class="calendar"></div>
  </body>
</html>