
{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'theme.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'rmodal.js' %}"></script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Raw Sensor Signals Explorer
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
    </script>
    <script type="text/javascript">
      function handleClick(cb) {
        var divName = cb.value + "_chart";
        var element = document.getElementById(divName);
               if(cb.checked)
                  element.style.display = 'block';
               else
                  element.style.display = 'none';
      }
    </script>

    <script type="text/javascript">

        var startDateTime;
        var endDateTime;
        var originalSample = 500;
        var hResSample = 100;
        var sample = originalSample;

        var control = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'control',
           'options': { 'filterColumnIndex': 0, },
         });

       var annotationControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'annotationControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });


         var sensorAccMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorAccMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });


         var sensorOrientMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorOrientMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorAccCorrMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorAccCorrMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorGyroMobileControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorGyroMobileControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorAccControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorAccControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorGyroControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorGyroControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var sensorHRControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorHRControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

        var sensorSTControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'sensorSTControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

        var pedometerControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'pedometerControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

      function onChangeControlDisabled(event)
      {
            if (!event.inProgress)
            {
                control.setState({'range': {'start': current_s, 'end': current_e}});
                control.draw();
            }
      }

      function onChangeControl(event)
      {
            if (!event.inProgress)
            {
                var state = control.getState();
                annotationControl.setState(state);
                annotationControl.draw();
                sensorAccMobileControl.setState(state);
                sensorAccMobileControl.draw();
                sensorOrientMobileControl.setState(state);
                sensorOrientMobileControl.draw();
                sensorAccCorrMobileControl.setState(state);
                sensorAccCorrMobileControl.draw();
                sensorGyroMobileControl.setState(state);
                sensorGyroMobileControl.draw();
                sensorAccControl.setState(state);
                sensorAccControl.draw();
                sensorGyroControl.setState(state);
                sensorGyroControl.draw();
                sensorHRControl.setState(state);
                sensorHRControl.draw();
                sensorSTControl.setState(state);
                sensorSTControl.draw();
                pedometerControl.setState(state);
                pedometerControl.draw();
            }
      }

      function drawVisualization()
      {
            var controlChart = new google.visualization.ChartWrapper({
               'chartType': 'LineChart',
               'containerId': 'controlChart',
               'options': {
                 // Use the same chart area width as the control for axis alignment.
                 'chartArea': {'height': '60%', 'width': '100%'},
                 'hAxis': {'slantedText': false},
                 'legend': {'position': 'bottom'}
               },
               // Convert the first column from 'date' to 'string'.
               'view': {
                 'columns': [
                   {
                     'calc': function(dataControl, rowIndex) {
                       var date = dataControl.getFormattedValue(rowIndex, 0);
                       var splitDate = date.split(' ');
                       return splitDate[3];
                     },
                     'type': 'string'
                   }, 1]
               }
             });

             document.getElementById('control_chart').style.display = 'none';
             var dataControl = new google.visualization.DataTable();
             dataControl.addColumn('datetime', 'Timestamp');
             dataControl.addColumn('number', ' ');

             var s = new Date(startDateTime.getTime());
             var e = new Date(endDateTime.getTime());
             s.setMinutes(s.getMinutes()-15);
             e.setMinutes(e.getMinutes()+5);
             while (s.getTime()<e.getTime())
             {
               s.setMinutes(s.getMinutes()+10)
               var dAux = new Date(s.getTime());
               dataControl.addRow([dAux, 0]);
             }

             var controlDashboard = new google.visualization.Dashboard(document.getElementById('controlChart'));
             controlDashboard.bind(control, controlChart);
             controlDashboard.draw(dataControl);
             control.draw();

            google.visualization.events.removeAllListeners(control);
            google.visualization.events.addListener(control, 'statechange', onChangeControl);

            control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorAccMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorOrientMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorAccCorrMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorGyroMobileControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorAccControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorGyroControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorHRControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            sensorSTControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            pedometerControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
      }

      //google.setOnLoadCallback(drawVisualization);


      // -- Annotation
      var annotationChart = new google.visualization.ChartWrapper({
                   'chartType': 'SteppedAreaChart',
                   'containerId': 'annotationChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Annotation',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'UPDRS'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc':
                          function(step_length_data, rowIndex)
                          {
                               var date = String(step_length_data.getValue(rowIndex, 0));
                               var splitDate = date.split(' ');
                               return splitDate[4];
                           },
                         'type': 'string'
                       }, 1, 2, 3, 4]
                   }
                 });

        var dataAnnotation = new google.visualization.DataTable();
        dataAnnotation.addColumn('datetime', 'Date');
        dataAnnotation.addColumn('number', 'Bradykinesia');
        dataAnnotation.addColumn('number', 'LID');
        dataAnnotation.addColumn('number', 'Tremor');
        dataAnnotation.addColumn('number', 'Gait');

      function loadAnnotation(json)
      {
            if (json == '[]') document.getElementById('annotation_chart').style.display = 'none';
            else
            {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataAnnotation.addRow([dateAux, 0, 0, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    var col4 = parseFloat(row[4]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataAnnotation.addRow([dateAux, col1, col2, col3, col4]);
                }

                if (dataAnnotation.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataAnnotation.getValue(0, 0));
                    var vEnd = new Date(dataAnnotation.getValue(dataAnnotation.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
      }

      function showAnnotation()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataAnnotation);
            for (var i=0; i<view.getNumberOfRows(); i+=1) rows.push(i);
            view.setRows(rows);
            var annotationDashboard = new google.visualization.Dashboard(document.getElementById('annotationChart'));
            annotationDashboard.bind(annotationControl, annotationChart);
            annotationDashboard.draw(view);
            //annotationControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            annotationControl.setState(control.getState());
        }


        // -- Accelerometer mobile

        var sensorAccMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorAccMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Acc Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Meters per second^2'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorAccMobile, rowIndex) {
                           var date = dataSensorAccMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3]
                   }
                 });

                var dataSensorAccMobile = new google.visualization.DataTable();
                dataSensorAccMobile.addColumn('datetime', 'Date');
                dataSensorAccMobile.addColumn('number', 'Acc X, g');
                dataSensorAccMobile.addColumn('number', 'Acc Y, g');
                dataSensorAccMobile.addColumn('number', 'Acc Z, g');

        function loadAccelerometerMobile(json)
        {
            if (json == '[]')
            {
                document.getElementById('sensorAccMobile_chart').style.display = 'none';
                document.getElementById('sensorAccMobileCB').disabled = 'disabled';
            }
            else
            {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorAccMobile.addRow([dateAux, 0, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorAccMobile.addRow([dateAux, col1, col2, col3]);
                }

                if (dataSensorAccMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorAccMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorAccMobile.getValue(dataSensorAccMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showAccelerometerMobile()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorAccMobile);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=sample)
            {
                var d = new Date(dataSensorAccMobile.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorAccMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensorAccMobileChart'));
            sensorAccMobileDashboard.bind(sensorAccMobileControl, sensorAccMobileChart);
            sensorAccMobileDashboard.draw(view);
            sensorAccMobileControl.setState(control.getState());
        }

        // -- Orientation

        var sensorOrientMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorOrientMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Orient Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Meters per second'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorOrientMobile, rowIndex) {
                           var date = dataSensorOrientMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3]
                   }
                 });

                var dataSensorOrientMobile = new google.visualization.DataTable();
                dataSensorOrientMobile.addColumn('datetime', 'Date');
                dataSensorOrientMobile.addColumn('number', 'Azimuth, d');
                dataSensorOrientMobile.addColumn('number', 'Pitch, d');
                dataSensorOrientMobile.addColumn('number', 'Roll, d');

        function loadOrientation(json)
        {
            if (json == '[]')
            {
                document.getElementById('sensorOrientMobile_chart').style.display = 'none';
                document.getElementById('sensorOrientMobileCB').disabled = 'disabled';
            }
            else
             {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorOrientMobile.addRow([dateAux, 0, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorOrientMobile.addRow([dateAux, col1, col2, col3]);
                }

                if (dataSensorOrientMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorOrientMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorOrientMobile.getValue(dataSensorOrientMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showOrientation()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorOrientMobile);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=sample)
            {
                var d = new Date(dataSensorOrientMobile.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorOrientMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensororientMobileChart'));
            sensorOrientMobileDashboard.bind(sensorOrientMobileControl, sensorOrientMobileChart);
            sensorOrientMobileDashboard.draw(view);
            sensorOrientMobileControl.setState(control.getState());
        }


        // Acc Corr Mobile

        var sensorAccCorrMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorAccCorrMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Acc Corr Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Meters per second^2'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorAccCorrMobile, rowIndex) {
                           var date = dataSensorAccCorrMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3]
                   }
                });

                var dataSensorAccCorrMobile = new google.visualization.DataTable();
                dataSensorAccCorrMobile.addColumn('datetime', 'Date');
                dataSensorAccCorrMobile.addColumn('number', 'Acc X, g');
                dataSensorAccCorrMobile.addColumn('number', 'Acc Y, g');
                dataSensorAccCorrMobile.addColumn('number', 'Acc Z, g');

        function loadAccCorrected(json)
        {
            if (json == '[]') {
                document.getElementById('sensorAccCorrMobile_chart').style.display = 'none';
                document.getElementById('sensorAccCorrMobileCB').disabled = 'disabled';
            }
            else
             {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorAccCorrMobile.addRow([dateAux, 0, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorAccCorrMobile.addRow([dateAux, col1, col2, col3]);
                }

                if (dataSensorAccCorrMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorAccCorrMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorAccCorrMobile.getValue(dataSensorAccCorrMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showAccCorrected()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorAccCorrMobile);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=sample)
            {
                var d = new Date(dataSensorAccCorrMobile.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorAccCorrMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensorAccCorrMobileChart'));
            sensorAccCorrMobileDashboard.bind(sensorAccCorrMobileControl, sensorAccCorrMobileChart);
            sensorAccCorrMobileDashboard.draw(view);
            sensorAccCorrMobileControl.setState(control.getState());
        }

        // Gyro Mobile

        var sensorGyroMobileChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorGyroMobileChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Gyro Mobile',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false,'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Meters per second'},

                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorGyroMobile, rowIndex) {
                           var date = dataSensorGyroMobile.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3]
                   }
                });

                var dataSensorGyroMobile = new google.visualization.DataTable();
                dataSensorGyroMobile.addColumn('datetime', 'Date');
                dataSensorGyroMobile.addColumn('number', 'X');
                dataSensorGyroMobile.addColumn('number', 'Y');
                dataSensorGyroMobile.addColumn('number', 'Z');

        function loadGyroMobile(json)
        {
            if (json == '[]') {
                document.getElementById('sensorGyroMobile_chart').style.display = 'none';
                document.getElementById('sensorGyroMobileCB').disabled = 'disabled';
            } else {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorGyroMobile.addRow([dateAux, 0, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorGyroMobile.addRow([dateAux, col1, col2, col3]);
                }

                if (dataSensorGyroMobile.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorGyroMobile.getValue(0, 0));
                    var vEnd = new Date(dataSensorGyroMobile.getValue(dataSensorGyroMobile.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showGyroMobile()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorGyroMobile);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=sample)
            {
                var d = new Date(dataSensorGyroMobile.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorGyroMobileDashboard = new google.visualization.Dashboard(document.getElementById('sensorGyroMobileChart'));
            sensorGyroMobileDashboard.bind(sensorGyroMobileControl, sensorGyroMobileChart);
            sensorGyroMobileDashboard.draw(view);
            sensorGyroMobileControl.setState(control.getState());
        }


        // Sensor Acc

         var sensorAccChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorAccChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Acc',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false,'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Meters per second^2'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorAcc, rowIndex) {
                           var date = dataSensorAcc.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3]
                   }
                 });

                var dataSensorAcc = new google.visualization.DataTable();
                dataSensorAcc.addColumn('datetime', 'Date');
                dataSensorAcc.addColumn('number', 'x, g');
                dataSensorAcc.addColumn('number', 'Y, g');
                dataSensorAcc.addColumn('number', 'Z, g');

        function loadSensorAcc(json)
        {
            if (json == '[]') {
                document.getElementById('sensorAcc_chart').style.display = 'none';
                document.getElementById('sensorAccCB').disabled = 'disabled';
            } else {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorAcc.addRow([dateAux, 0, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorAcc.addRow([dateAux, col1, col2, col3]);
                }

                if (dataSensorAcc.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorAcc.getValue(0, 0));
                    var vEnd = new Date(dataSensorAcc.getValue(dataSensorAcc.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showSensorAcc(json)
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorAcc);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=sample)
            {
                var d = new Date(dataSensorAcc.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorAccDashboard = new google.visualization.Dashboard(document.getElementById('sensorAccChart'));
            sensorAccDashboard.bind(sensorAccControl, sensorAccChart);
            sensorAccDashboard.draw(view);
            sensorAccControl.setState(control.getState());
        }


        // Gyro

        var sensorGyroChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorGyroChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor Gyro',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Meters per second'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorGyro, rowIndex) {
                           var date = dataSensorGyro.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3]
                   }
                });

                var dataSensorGyro = new google.visualization.DataTable();
                dataSensorGyro.addColumn('datetime', 'Date');
                dataSensorGyro.addColumn('number', 'X, g');
                dataSensorGyro.addColumn('number', 'Y, g');
                dataSensorGyro.addColumn('number', 'Z, g');

        function loadGyro(json)
        {
            if (json == '[]') {
                document.getElementById('sensorGyro_chart').style.display = 'none';
                document.getElementById('sensorGyroCB').disabled = 'disabled';
            } else {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorGyro.addRow([dateAux, 0, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var col3 = parseFloat(row[3]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorGyro.addRow([dateAux, col1, col2, col3]);
                }

                if (dataSensorGyro.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorGyro.getValue(0, 0));
                    var vEnd = new Date(dataSensorGyro.getValue(dataSensorGyro.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showGyro()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorGyro);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=sample)
            {
                var d = new Date(dataSensorGyro.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorGyroDashboard = new google.visualization.Dashboard(document.getElementById('sensorGyroChart'));
            sensorGyroDashboard.bind(sensorGyroControl, sensorGyroChart);
            sensorGyroDashboard.draw(view);
            sensorGyroControl.setState(control.getState());
        }


        // HR

        var sensorHRChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorHRChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor HR',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': '???'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorHR, rowIndex) {
                           var date = dataSensorHR.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1]
                   }
                 });

                var dataSensorHR = new google.visualization.DataTable();
                dataSensorHR.addColumn('datetime', 'Date');
                dataSensorHR.addColumn('number', 'HR');
                dataSensorHR.addColumn('number', 'Quality');

        function loadHR(json)
        {
            if (json == '[]') {
                document.getElementById('sensorHR_chart').style.display = 'none';
                document.getElementById('sensorHRCB').disabled = 'disabled';
            } else {
                 var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorHR.addRow([dateAux, 0, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var col2 = parseFloat(row[2]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorHR.addRow([dateAux, col1, col2]);
                }

                if (dataSensorHR.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorHR.getValue(0, 0));
                    var vEnd = new Date(dataSensorHR.getValue(dataSensorHR.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showHR()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorHR);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=sample)
            {
                var d = new Date(dataSensorHR.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorHRDashboard = new google.visualization.Dashboard(document.getElementById('sensorHRChart'));
            sensorHRDashboard.bind(sensorHRControl, sensorHRChart);
            sensorHRDashboard.draw(view);
            sensorHRControl.setState(control.getState());
        }


        // ST

        var sensorSTChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'sensorSTChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Sensor ST',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Meters per second'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataSensorST, rowIndex) {
                           var date = dataSensorST.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1]
                   }
                 });

                var dataSensorST = new google.visualization.DataTable();
                dataSensorST.addColumn('datetime', 'Date');
                dataSensorST.addColumn('number', 'Channel');

        function loadST(json)
        {
            if (json == '[]') {
                document.getElementById('sensorST_chart').style.display = 'none';
                document.getElementById('sensorSTCB').disabled = 'disabled';
            } else {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                var dateAux;
                for (var i = 1; i<nRows; i+=1)
                {
                    var row = data[i];
                    if (row.length==6)
                    {
                        var dateNew = new Date(row[0], row[1]-1, row[2], row[3], row[4], row[5]);
                        while(dateAux.getTime()<dateNew.getTime())
                        {
                            dateAux.setSeconds(dateAux.getSeconds()+1);
                            dataSensorST.addRow([dateAux, 0]);
                        }
                        date = dateNew;
                        i++;
                        row = data[i];
                    }
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseFloat(row[1]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataSensorST.addRow([dateAux, col1]);
                }

                if (dataSensorST.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSensorST.getValue(0, 0));
                    var vEnd = new Date(dataSensorST.getValue(dataSensorST.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showST(json)
        {
            var rows = [];
            var view = new google.visualization.DataView(dataSensorST);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=1)
            {
                var d = new Date(dataSensorST.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var sensorSTDashboard = new google.visualization.Dashboard(document.getElementById('sensorSTChart'));
            sensorSTDashboard.bind(sensorSTControl, sensorSTChart);
            sensorSTDashboard.draw(view);
            sensorSTControl.setState(control.getState());
        }


        // Pedometer

        var pedometerChart = new google.visualization.ChartWrapper({
                   'chartType': 'LineChart',
                   'containerId': 'pedometerChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Pedometer',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false, 'title': 'Time'},
                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': '???'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(dataPedometer, rowIndex) {
                           var date = dataPedometer.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1]
                   }
                 });

                var dataPedometer = new google.visualization.DataTable();
                dataPedometer.addColumn('datetime', 'Date');
                dataPedometer.addColumn('number', 'Pedometer');

        function loadPedometer(json)
        {
            if (json == '[]') {
                document.getElementById('pedometer_chart').style.display = 'none';
                document.getElementById('pedometerCB').disabled = 'disabled';
            } else {
                var data = JSON.parse(json);
                var nRows = data.length;

                var d = data[0];
                var date = new Date(d[0], d[1]-1, d[2], d[3], d[4], d[5]);
                for (var i = 1; i<nRows; i+=sample)
                {
                    var row = data[i];
                    var millis = parseFloat(row[0])*1000;
                    var col1 = parseInt(row[1]);
                    var dateAux = new Date(date.getTime());
                    dateAux.setMilliseconds(millis);
                    dataPedometer.addRow([dateAux, col1]);
                }

                if (dataPedometer.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataPedometer.getValue(0, 0));
                    var vEnd = new Date(dataPedometer.getValue(dataPedometer.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                }
            }
        }

        function showPedometer()
        {
            var rows = [];
            var view = new google.visualization.DataView(dataPedometer);
            var state = control.getState();
            var s = new Date(state.range.start.getTime());
            var e = new Date(state.range.end.getTime());
            for (var i=0; i<view.getNumberOfRows(); i+=1)
            {
                var d = new Date(dataPedometer.getValue(i, 0));
                var dts = d.getTime();
                if (dts>s && dts<e) rows.push(i);
            }
            view.setRows(rows);
            var pedometerDashboard = new google.visualization.Dashboard(document.getElementById('pedometerChart'));
            pedometerDashboard.bind(pedometerControl, pedometerChart);
            pedometerDashboard.draw(view);
            pedometerControl.setState(control.getState());
            google.visualization.events.addListener(pedometerDashboard, 'ready', onRendered);
        }

// -- Control functions
    function normalView()
    {
        if (sample!=originalSample)
        {
            google.visualization.events.removeAllListeners(control);
            google.visualization.events.addListener(control, 'statechange', onChangeControl);
            document.getElementById("loading_overlay").style.visibility = "visible";
            sample = originalSample;
            control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
            control.draw();
            renderAllCharts();
        }
    }

    var current_s;
    var current_e;
    function updateChartResolution()
    {
        if (sample!=hResSample)
        {
            var state = control.getState();
            current_s = new Date(state.range.start.getTime());
            current_e = new Date(state.range.end.getTime());
            google.visualization.events.removeAllListeners(control);
            google.visualization.events.addListener(control, 'statechange', onChangeControlDisabled);
            document.getElementById("loading_overlay").style.visibility = "visible";
            sample = hResSample;
            renderAllCharts();
        }
    }

    function onRendered() { document.getElementById("loading_overlay").style.visibility = "hidden"; }

    function renderAllCharts()
    {
        document.getElementById("loading_text").innerHTML = "Rendering charts...";
        showAnnotation();
        showAccelerometerMobile();
        showOrientation();
        showAccCorrected();
        showGyroMobile();
        showSensorAcc();
        showGyro();
        showHR();
        showST();
        showPedometer();
    }

// -- AJAX CALLS!
  var params = 'pk='+ '{{patient}}' + '&year=' + '{{year}}' + '&month=' + '{{month}}' + '&day=' + '{{day}}';

// - Annotation
    function requestAnnotation()
    {
        var ajaxAnnotation = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading annotation...";
        ajaxAnnotation.onreadystatechange = function()
        {
            if (ajaxAnnotation.readyState==4 && ajaxAnnotation.status==200)
            {
                loadAnnotation(ajaxAnnotation.responseText);
                document.getElementById("loading_annotation").style.visibility = "hidden";
                requestAccelMobile();
            }
        }
        var url = location.origin + "/annotation/" + '?' + params;
        ajaxAnnotation.open("GET", url, true);
        ajaxAnnotation.send();
    }

// -- Accelerometer Mobile
    function requestAccelMobile()
    {
        var ajaxAccelMobile = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading mobile accelerometer...";
        ajaxAccelMobile.onreadystatechange = function()
        {
            if (ajaxAccelMobile.readyState==4 && ajaxAccelMobile.status==200)
            {
                loadAccelerometerMobile(ajaxAccelMobile.responseText);
                document.getElementById("loading_sensor_acc_mobile").style.visibility = "hidden";
                requestOrientation();
            }
        }
        var url = location.origin + "/raccelerometer/" + '?' + params;
        ajaxAccelMobile.open("GET", url, true);
        ajaxAccelMobile.send();
    }

// -- Orientation
    function requestOrientation()
    {
        var ajaxOrientation = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading orientation...";
        ajaxOrientation.onreadystatechange = function()
        {
            if (ajaxOrientation.readyState==4 && ajaxOrientation.status==200)
            {
                loadOrientation(ajaxOrientation.responseText);
                document.getElementById("loading_orientation").style.visibility = "hidden";
                requestAccCorrected();
            }
        }
        var url = location.origin + "/rorientation/" + '?' + params;
        ajaxOrientation.open("GET", url, true);
        ajaxOrientation.send();
    }

// -- Acc Corrected
    function requestAccCorrected()
    {
        var ajaxAccCorrected = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading corrected accelerometer...";
        ajaxAccCorrected.onreadystatechange = function()
        {
            if (ajaxAccCorrected.readyState==4 && ajaxAccCorrected.status==200)
            {
                loadAccCorrected(ajaxAccCorrected.responseText);
                document.getElementById("loading_acc_corrected").style.visibility = "hidden";
                requestGyroMobile();
            }
        }
        var url = location.origin + "/racmcorrected/" + '?' + params;
        ajaxAccCorrected.open("GET", url, true);
        ajaxAccCorrected.send();
    }

// -- Gyro Mobile
    function requestGyroMobile()
    {
        var ajaxGyroMobile = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading mobile gyroscope...";
        ajaxGyroMobile.onreadystatechange = function()
        {
            if (ajaxGyroMobile.readyState==4 && ajaxGyroMobile.status==200)
            {
                loadGyroMobile(ajaxGyroMobile.responseText);
                document.getElementById("loading_gyro_mobile").style.visibility = "hidden";
                requestSensorAcc();
            }
        }
        var url = location.origin + "/rgyromobile/" + '?' + params;
        ajaxGyroMobile.open("GET", url, true);
        ajaxGyroMobile.send();
    }

// -- Sensor Acc
    function requestSensorAcc()
    {
        var ajaxSensorAcc = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading accelerometer...";
        ajaxSensorAcc.onreadystatechange = function()
        {
            if (ajaxSensorAcc.readyState==4 && ajaxSensorAcc.status==200)
            {
                loadSensorAcc(ajaxSensorAcc.responseText);
                document.getElementById("loading_sensor_acc").style.visibility = "hidden";
                requestGyro();
            }
        }
        var url = location.origin + "/rsensoracc/" + '?' + params;
        ajaxSensorAcc.open("GET", url, true);
        ajaxSensorAcc.send();
    }

// -- Gyroscope
    function requestGyro()
    {
        var ajaxGyro = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading gyroscope...";
        ajaxGyro.onreadystatechange = function()
        {
            if (ajaxGyro.readyState==4 && ajaxGyro.status==200)
            {
                loadGyro(ajaxGyro.responseText);
                document.getElementById("loading_gyro").style.visibility = "hidden";
                requestHR();
            }
        }
        var url = location.origin + "/rgyro/" + '?' + params;
        ajaxGyro.open("GET", url, true);
        ajaxGyro.send();
    }

// -- HR
    function requestHR()
    {
        var ajaxHR = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading heart rate...";
        ajaxHR.onreadystatechange = function()
        {
            if (ajaxHR.readyState==4 && ajaxHR.status==200)
            {
                loadHR(ajaxHR.responseText);
                document.getElementById("loading_hr").style.visibility = "hidden";
                requestST();
            }
        }
        var url = location.origin + "/rhr/" + '?' + params;
        ajaxHR.open("GET", url, true);
        ajaxHR.send();
    }

// -- ST
    function requestST()
    {
        var ajaxST = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading ST...";
        ajaxST.onreadystatechange = function()
        {
            if (ajaxST.readyState==4 && ajaxST.status==200)
            {
                loadST(ajaxST.responseText);
                document.getElementById("loading_st").style.visibility = "hidden";
                requestPedometer();
            }
        }
        var url = location.origin + "/rst/" + '?' + params;
        ajaxST.open("GET", url, true);
        ajaxST.send();
    }

// -- Pedometer
    function requestPedometer()
    {
        var ajaxPdm = new XMLHttpRequest();
        document.getElementById("loading_text").innerHTML = "Loading pedometer...";
        ajaxPdm.onreadystatechange = function()
        {
            if (ajaxPdm.readyState==4 && ajaxPdm.status==200)
            {
                loadPedometer(ajaxPdm.responseText);
                document.getElementById("loading_pedometer").style.visibility = "hidden";
                endTransactions();
            }
        }
        var url = location.origin + "/rpedometer/" + '?' + params;
        ajaxPdm.open("GET", url, true);
        ajaxPdm.send();
    }

// -- End of transactions

    function endTransactions()
    {
        drawVisualization();
        renderAllCharts();
    }

    function initializeCharts()
    {
        requestAnnotation();
    }

    </script>
  </head>
  <body id="body">

      <div class="headsection group" >
          <div id="horizontal">
              <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="100%" >
              {% if user.is_authenticated %}
              <p class="top-menu" style="margin-left:10px; margin-top:50px;">
                  Welcome {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)
              </p>
              {% endif %}
          </div>
          <div class="headcol headspan_2_of_2">
              {% if user.is_authenticated %}
              <p>Go back to <a href="{% url 'dashboard' %}"> Dashboard</a> > <a href="{% url 'explore_data' pk=patient %}"> Explore data</a></p>
              <p>
                  Navigate to:
                  <a href="{% url 'aggregated_raw_data' pk=patient year=year month=month day=day%}">Sensor's Aggregated Raw Data</a>   |
                  <a href="{% url 'raw_data_cog' pk=patient year=year month=month day=day hasSensorsData=1%}">Cognitive Raw Data</a>
              </p>
              {% else %}
              <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
              {% endif %}
          </div>
      </div>

      <div id="selection" style="width:95%; height: 125px; position:relative; left:15px;" >
          <div style='width: 80%; height: 110px; position:absolute; left:15px; top: 15px;'>
            <div style="height: 15px; width:95%; position:absolute; left:15px; top: 15px; ">
                <label>Sensor data</label>
             </div>
            <div style='width: 95%; height: 75px; position:absolute; left:25px; top: 15px;'>

                <div style='width: 15%; height: 75px; position:absolute; left:15px; top: 25px'>
                    <div id="annotation_cb">
                        <label style="height: 10px; width: 80%">Annotation</label>
                        <input id="annotationCB" type="checkbox" value="annotation" style="height: 15px; width: 15px;" checked  onclick="handleClick(this)">
                    </div>
                    <div id="sensorAccMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Acc Mobile</label>
                        <input id="sensorAccMobileCB" type="checkbox" value="sensorAccMobile" style="height: 15px; width: 15px;" checked  onclick="handleClick(this)">
                    </div>
                </div>
                <div style='width: 18%; height: 75px; position:absolute; left:240px; top: 25px'>
                    <div id = "sensorOrientMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Orient Mobile</label>
                        <input id = "sensorOrientMobileCB" type="checkbox" value="sensorOrientMobile" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id = "sensorAccCorrMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Acc Corr Mobile</label>
                        <input id = "sensorAccCorrMobileCB" type="checkbox" value="sensorAccCorrMobile" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                 </div>
                <div style='width: 15%; height: 75px; position:absolute; left:490px; top: 25px'>
                    <div id="sensorGyroMobile_cb">
                        <label style="height: 10px; width: 80%">Sensor Gyro Mobile</label>
                        <input id="sensorGyroMobileCB" type="checkbox" value="sensorGyroMobile" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                     <div id="sensorAcc_cb">
                        <label style="height: 10px; width: 80%">Sensor Acc</label>
                        <input id="sensorAccCB" type="checkbox" value="sensorAcc" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                 </div>
                <div style='width: 10%; height: 75px; position:absolute; left:715px; top: 25px'>
                    <div id="sensorGyro_cb">
                        <label style="height: 10px; width: 80%">Sensor Gyro</label>
                        <input id="sensorGyroCB" type="checkbox" value="sensorGyro" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="sensorHR_cb">
                        <label style="height: 10px; width: 80%">Sensor HR</label>
                        <input id="sensorHRCB" type="checkbox" value="sensorHR" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                </div>
                <div style='width: 10%; height: 75px; position:absolute; left:890px; top: 25px'>
                    <div id="sensorST_cb">
                        <label style="height: 10px; width: 80%">Sensor ST</label>
                        <input id="sensorSTCB" type="checkbox"  value="sensorST" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="pedometer_cb">
                        <label style="height: 10px; width: 80%">Pedometer</label>
                        <input id="pedometerCB" type="checkbox" value="pedometer" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                </div>
            </div>
            </div>
        </div>

      <div id = "dashboard">
        <div style='width: 98%; height: 75px; position:relative'>

            <div id="control" style='width: 100%; height: 50px; position:absolute; top: 15px'></div>
            <div id="annotationControl" style='display:none'></div>
            <div id="sensorAccMobileControl" style='display:none'></div>
            <div id="sensorOrientMobileControl" style='display:none'></div>
            <div id="sensorAccCorrMobileControl" style='display:none'></div>
            <div id="sensorGyroMobileControl" style='display:none'></div>
            <div id="sensorAccControl" style='display:none'></div>
            <div id="sensorGyroControl" style='display:none'></div>
            <div id="sensorHRControl" style='display:none'></div>
            <div id="sensorSTControl" style='display:none'></div>
            <div id="pedometerControl" style='display:none'></div>
        </div>
         <div id = "control_chart" style='width: 98%; height: 250px; position:relative;'>
            <div id="controlChart" style="width:100%; height: 225px; position:absolute; top: 15px"></div>
        </div>

      <div style="margin-top:15px">
          <button style="margin-left:45px; margin-right:10px" onclick="normalView()">Normal view</button>
          <button style="margin-right:10px" onclick="updateChartResolution()">Increase window resolution</button>
      </div>

        <div id = "annotation_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="annotationChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
                <div id="loading_annotation" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id = "sensorAccMobile_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorAccMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
                <div id="loading_sensor_acc_mobile" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorOrientMobile_chart" style='width: 95%; height: 300px; position:relative'>
	        <div id="sensorOrientMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
                <div id="loading_orientation" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorAccCorrMobile_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorAccCorrMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_acc_corrected" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id = "sensorGyroMobile_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorGyroMobileChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_gyro_mobile" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorAcc_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorAccChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_sensor_acc" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorGyro_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorGyroChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_gyro" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorHR_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorHRChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_hr" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="sensorST_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="sensorSTChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_st" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="pedometer_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="pedometerChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_pedometer" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        </div>

      <div id="loading_overlay" class="overlay">
            <div class="centered" >
                <img src="{% static 'spinnerblack.gif' %}"/>
                <p id="loading_text" class="h4">Loading</p>
            </div>
        </div>

        <script>
            initializeCharts();
        </script>

  </body>
</html>