{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'theme.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'rmodal.js' %}"></script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Raw Cognitive Signals Explorer
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['corechart', 'controls']});
    </script>
    <script type="text/javascript">
      function handleClick(cb) {
        var divName = cb.value + "_chart";
        var element = document.getElementById(divName);
               if(cb.checked)
                  element.style.display = 'block';
               else
                  element.style.display = 'none';
      }
    </script>

    <script type="text/javascript">
        function getSamplesStep (nSamples, maxNumberPoints) {

            var samplesPerSecond = 63; // sampleRate = 16ms
            //var samplesPerSecond = 50; // sampleRate = 20ms

            var stepSamples = parseInt(samplesPerSecond*1800); // 1 sample each 30 minutes

            if ((nSamples/(samplesPerSecond*600))<maxNumberPoints) { // 1 sample each 10 minutes
                stepSamples = parseInt(samplesPerSecond*600);
            }
            if ((nSamples/(samplesPerSecond*60))<maxNumberPoints) { // 1 sample each minute
                stepSamples = parseInt(samplesPerSecond*60);
            }
            if ((nSamples/(samplesPerSecond*30))<maxNumberPoints) { // 1 sample each 30 seconds
                stepSamples = parseInt(samplesPerSecond*30);
            }
            if ((nSamples/(samplesPerSecond))<maxNumberPoints) { // 1 sample each 1 second
                stepSamples = parseInt(samplesPerSecond);
            }
            if (nSamples<maxNumberPoints) { // all samples
                stepSamples = 1;
            }
            return stepSamples;
        }
    </script>


    <script type="text/javascript">

        var maxNumberPointsPerChart = 1500;
        var maxNumberPointsPerChart2 = 2000;
        var samplesPerSecond = 63; // sampleRate = 16ms
        var dataDates = [];
        var index = 0;

        var startDateTime = dataDates.sort()[0];
        var endDateTime = dataDates.sort()[index-1];

        var control = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'control',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var fingerTappingSimpleTestControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'fingerTappingSimpleTestControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

        var fingerTappingAlternateTestControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'fingerTappingAlternateTestControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var pairedAssociatesLearningControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'pairedAssociatesLearningControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var patternRecognitionMemoryControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'patternRecognitionMemoryControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var spatialWorkingMemoryControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'spatialWorkingMemoryControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var spatialSpanControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'spatialSpanControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

        var stopSignalTaskControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'stopSignalTaskControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var attentionSwitchingTaskControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'attentionSwitchingTaskControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

         var visualAnalogueScalesControl = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'visualAnalogueScalesControl',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
           },
         });

      function drawVisualization()
      {
          var controlChart = new google.visualization.ChartWrapper({
           'chartType': 'LineChart',
           'containerId': 'controlChart',
           'options': {
             // Use the same chart area width as the control for axis alignment.
             'chartArea': {'height': '60%', 'width': '100%'},
             'hAxis': {'slantedText': false},
             'legend': {'position': 'bottom'}
           },
           // Convert the first column from 'date' to 'string'.
           'view': {
             'columns': [
               {
                 'calc': function(step_length_data, rowIndex) {
                   var date = step_length_data.getFormattedValue(rowIndex, 0);
                   var splitDate = date.split(' ');
                   return splitDate[3];
                 },
                 'type': 'string'
               }, 1]
           }
         });


         document.getElementById('control_chart').style.display = 'none';
         var dataControl = new google.visualization.DataTable();
         dataControl.addColumn('datetime', 'Timestamp');
         dataControl.addColumn('number', ' ');

            for (var i = 0; i < 23; i++) {
               var date= new Date('{{year}}', '{{month}}'-1, '{{day}}', i, 0, 0, 0);
               dataControl.addRow([date, 0]);
            }
         var controlDashboard = new google.visualization.Dashboard(document.getElementById('controlChart'));
         controlDashboard.bind(control, controlChart);
         controlDashboard.draw(dataControl);


        google.visualization.events.addListener(control, 'statechange', function() {
                    fingerTappingSimpleTestControl.setState(control.getState());
                    fingerTappingSimpleTestControl.draw();
                    fingerTappingAlternateTestControl.setState(control.getState());
                    fingerTappingAlternateTestControl.draw();
                    pairedAssociatesLearningControl.setState(control.getState());
                    pairedAssociatesLearningControl.draw();
                    patternRecognitionMemoryControl.setState(control.getState());
                    patternRecognitionMemoryControl.draw();
                    spatialWorkingMemoryControl.setState(control.getState());
                    spatialWorkingMemoryControl.draw();
                    spatialSpanControl.setState(control.getState());
                    spatialSpanControl.draw();
                    stopSignalTaskControl.setState(control.getState());
                    stopSignalTaskControl.draw();
                    attentionSwitchingTaskControl.setState(control.getState());
                    attentionSwitchingTaskControl.draw();
                    visualAnalogueScalesControl.setState(control.getState());
                    visualAnalogueScalesControl.draw();
                });

        control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        fingerTappingSimpleTestControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        fingerTappingAlternateTestControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        pairedAssociatesLearningControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        patternRecognitionMemoryControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        spatialWorkingMemoryControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        spatialSpanControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        stopSignalTaskControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        attentionSwitchingTaskControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
        visualAnalogueScalesControl.setState({'range': {'start': startDateTime, 'end': endDateTime}});
      }
      google.setOnLoadCallback(drawVisualization);

        function showFtSimple(info)
        {
            if (info == '[]')
            {
                document.getElementById('fingerTappingSimpleTest_chart').style.display = 'none';
                document.getElementById('fingerTappingSimpleTestCB').disabled = 'disabled';
            }
            else
            {
                var fingerTappingSimpleTestChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'fingerTappingSimpleTestChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Finger Tapping Simple Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},
                     'legend': {'position': 'bottom'},
                     'vAxes':[{'title': 'Milliseconds'}, {'title': ' '}],
                     'series':[{targetAxisIndex:0},{targetAxisIndex:1},{targetAxisIndex:0},
                        {targetAxisIndex:0},{targetAxisIndex:0}],
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4, 5]
                   }
                 });

                 var dataFTSimple = new google.visualization.DataTable();
                 dataFTSimple.addColumn('datetime', 'Timestamp');
                 dataFTSimple.addColumn('number', 'Test duration (ms)');
                 dataFTSimple.addColumn('number', 'Total taps');
                 dataFTSimple.addColumn('number', 'Mean time between taps (ms)');
                 dataFTSimple.addColumn('number', 'STD time between taps (ms)');
                 dataFTSimple.addColumn('number', 'Median time between taps (ms)');

                var data = JSON.parse(info);
                var nRows = data.length;

                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                   var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col1 = parseFloat(line[1]);
                   var col2 = parseFloat(line[2]);
                   var col3 = parseFloat(line[3]);
                   var col4 = parseFloat(line[4]);
                   var col5 = parseFloat(line[5]);

                   dataFTSimple.addRow([date, col1, col2, col3, col4, col5]);
                }

                if (dataFTSimple.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataFTSimple.getValue(0, 0));
                    var vEnd = new Date(dataFTSimple.getValue(dataFTSimple.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var fingerTappingSimpleTestDashboard = new google.visualization.Dashboard(document.getElementById('fingerTappingSimpleTestChart'));
                fingerTappingSimpleTestDashboard.bind(fingerTappingSimpleTestControl, fingerTappingSimpleTestChart);
                fingerTappingSimpleTestDashboard.draw(dataFTSimple);
            }
        }

        function showFtAlternate(info)
        {
            if (info == '[]')
            {
                document.getElementById('fingerTappingAlternateTest_chart').style.display = 'none';
                document.getElementById('fingerTappingAlternateTestCB').disabled = 'disabled';
            }
            else
            {
                var fingerTappingAlternateTestChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'fingerTappingAlternateTestChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Finger Tapping Alternate Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},
                     'legend': {'position': 'bottom'},
                     'vAxes':[{'title': 'Milliseconds'}, {'title': ' '}],
                     'series':[{targetAxisIndex:0},{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:0},
                        {targetAxisIndex:0},{targetAxisIndex:0}],
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4, 5, 6]
                   }
                 });

                 var dataFTAlternate = new google.visualization.DataTable();
                 dataFTAlternate.addColumn('datetime', 'Timestamp');
                 dataFTAlternate.addColumn('number', 'Test duration (ms)');
                 dataFTAlternate.addColumn('number', 'Total taps');
                 dataFTAlternate.addColumn('number', 'Total error taps');
                 dataFTAlternate.addColumn('number', 'Mean time between taps (ms)');
                 dataFTAlternate.addColumn('number', 'STD time between taps (ms)');
                 dataFTAlternate.addColumn('number', 'Median time between taps (ms)');

                var data = JSON.parse(info);
                var nRows = data.length;

                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                    var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col1 = parseFloat(line[1]);
                   var col2 = parseFloat(line[2]);
                   var col3 = parseFloat(line[3]);
                   var col4 = parseFloat(line[4]);
                   var col5 = parseFloat(line[5]);
                   var col6 = parseFloat(line[6]);

                   dataFTAlternate.addRow([date, col1, col2, col3, col4, col5, col6]);

                }

                if (dataFTAlternate.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataFTAlternate.getValue(0, 0));
                    var vEnd = new Date(dataFTAlternate.getValue(dataFTAlternate.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var fingerTappingAlternateTestDashboard = new google.visualization.Dashboard(document.getElementById('fingerTappingAlternateTestChart'));
                fingerTappingAlternateTestDashboard.bind(fingerTappingAlternateTestControl, fingerTappingAlternateTestChart);
                fingerTappingAlternateTestDashboard.draw(dataFTAlternate);
            }
        }

        function showPal(info)
        {
            if (info == '[]') {
                document.getElementById('pairedAssociatesLearning_chart').style.display = 'none';
                document.getElementById('pairedAssociatesLearningCB').disabled = 'disabled';
            } else {

                var pairedAssociatesLearningChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'pairedAssociatesLearningChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Paired Associates Learning Cognitive Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},
                     'legend': {'position': 'bottom'},
                     'vAxes':[{'title': 'Seconds'}, {'title': ' '}],
                     'series':[{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:0},
                        {targetAxisIndex:0},{targetAxisIndex:0}],

                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4, 5]
                   }
                 });

                 var dataPAL = new google.visualization.DataTable();
                 dataPAL.addColumn('datetime', 'Timestamp');
                 dataPAL.addColumn('number', 'Level');
                 dataPAL.addColumn('number', 'Number of errors');
                 dataPAL.addColumn('number', 'Mean time between taps (s)');
                 dataPAL.addColumn('number', 'STD time between taps (s)');
                 dataPAL.addColumn('number', 'Total time (s)');

                 var data = JSON.parse(info);
                 var nRows = data.length;


                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                    var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col1 = parseFloat(line[1]);
                   var col2 = parseFloat(line[2]);
                   var col3 = parseFloat(line[3]);
                   var col4 = parseFloat(line[4]);
                   var col5 = parseFloat(line[5]);

                   dataPAL.addRow([date, col1, col2, col3, col4, col5]);
                }

                if (dataPAL.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataPAL.getValue(0, 0));
                    var vEnd = new Date(dataPAL.getValue(dataPAL.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                 var pairedAssociatesLearningDashboard = new google.visualization.Dashboard(document.getElementById('pairedAssociatesLearningChart'));
                 pairedAssociatesLearningDashboard.bind(pairedAssociatesLearningControl, pairedAssociatesLearningChart);
                 pairedAssociatesLearningDashboard.draw(dataPAL);
            }
        }

        function showPRM(info)
        {
            if (info == '[]') {
                document.getElementById('patternRecognitionMemory_chart').style.display = 'none';
                document.getElementById('patternRecognitionMemoryCB').disabled = 'disabled';
            } else {

                var patternRecognitionMemoryChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'patternRecognitionMemoryChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Pattern Recognition Memory Cognitive Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},
                     'legend': {'position': 'bottom'},
                     'vAxes':[{'title': 'Seconds'}, {'title': ' '}],
                     'series':[{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:0},
                        {targetAxisIndex:0},{targetAxisIndex:0}],
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4, 5, 6]
                   }
                 });

                 var dataPRM = new google.visualization.DataTable();
                 dataPRM.addColumn('datetime', 'Timestamp');
                 dataPRM.addColumn('number', 'Type of task');
                 dataPRM.addColumn('number', 'Number of stimuli');
                 dataPRM.addColumn('number', 'Number of errors');
                 dataPRM.addColumn('number', 'Mean time between taps (s)');
                 dataPRM.addColumn('number', 'STD time between taps (s)');
                 dataPRM.addColumn('number', 'Total time (s)');

                 var data = JSON.parse(info);
                 var nRows = data.length;

                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                    var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col1 = parseFloat(line[1]);
                   var col2 = parseFloat(line[2]);
                   var col3 = parseFloat(line[3]);
                   var col4 = parseFloat(line[4]);
                   var col5 = parseFloat(line[5]);
                   var col6 = parseFloat(line[6]);

                   dataPRM.addRow([date, col1, col2, col3, col4, col5, col6]);
                }

                if (dataPRM.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataPRM.getValue(0, 0));
                    var vEnd = new Date(dataPRM.getValue(dataPRM.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var patternRecognitionMemoryDashboard = new google.visualization.Dashboard(document.getElementById('patternRecognitionMemoryChart'));
                patternRecognitionMemoryDashboard.bind(patternRecognitionMemoryControl, patternRecognitionMemoryChart);
                patternRecognitionMemoryDashboard.draw(dataPRM);
            }
        }

        function showSWM(info)
        {
            if (info == '[]') {
                document.getElementById('spatialWorkingMemory_chart').style.display = 'none';
                document.getElementById('spatialWorkingMemoryCB').disabled = 'disabled';
            } else {

                var spatialWorkingMemoryChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'spatialWorkingMemoryChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Spatial Working Memory Cognitive Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},
                     'legend': {'position': 'bottom'},
                     'vAxes':[{'title': 'Seconds'}, {'title': ' '}],
                     'series':[{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:1},
                     {targetAxisIndex:1},{targetAxisIndex:0},{targetAxisIndex:0},{targetAxisIndex:0},
                        {targetAxisIndex:0},{targetAxisIndex:0}],
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                   }
                 });

                 var dataSWM = new google.visualization.DataTable();
                 dataSWM.addColumn('datetime', 'Timestamp');
                 dataSWM.addColumn('number', 'Level');
                 dataSWM.addColumn('number', 'Number of blue tokens');
                 dataSWM.addColumn('number', 'Number of empty boxes opened');
                 dataSWM.addColumn('number', 'Number of empty boxes reopened');
                 dataSWM.addColumn('number', 'Number of blue tokens reopened');
                 dataSWM.addColumn('number', 'Mean time between taps (s)');
                 dataSWM.addColumn('number', 'STD time between taps (s)');
                 dataSWM.addColumn('number', 'Mean time between tokens (s)');
                 dataSWM.addColumn('number', 'STD time between tokens (s)');
                 dataSWM.addColumn('number', 'Total time (s)');

                var data = JSON.parse(info);
                var nRows = data.length;

                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                    var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col1 = parseFloat(line[1]);
                   var col2 = parseFloat(line[2]);
                   var col3 = parseFloat(line[3]);
                   var col4 = parseFloat(line[4]);
                   var col5 = parseFloat(line[5]);
                   var col6 = parseFloat(line[6]);
                   var col7 = parseFloat(line[7]);
                   var col8 = parseFloat(line[8]);
                   var col9 = parseFloat(line[9]);
                   var col10 = parseFloat(line[10]);

                   dataSWM.addRow([date, col1, col2, col3, col4, col5, col6, col7, col8, col9, col10]);
                }

                if (dataSWM.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSWM.getValue(0, 0));
                    var vEnd = new Date(dataSWM.getValue(dataSWM.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var spatialWorkingMemoryDashboard = new google.visualization.Dashboard(document.getElementById('spatialWorkingMemoryChart'));
                spatialWorkingMemoryDashboard.bind(spatialWorkingMemoryControl, spatialWorkingMemoryChart);
                spatialWorkingMemoryDashboard.draw(dataSWM);
            }
        }

        function showSSP(info)
        {
            if (info == '[]') {
                document.getElementById('spatialSpan_chart').style.display = 'none';
                document.getElementById('spatialSpanCB').disabled = 'disabled';
            } else {

                 var spatialSpanChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'spatialSpanChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Spatial Span Cognitive Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},
                     'legend': {'position': 'bottom'},
                     'vAxes':[{'title': 'Seconds'}, {'title': ' '}],
                     'series':[{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:1},
                     {targetAxisIndex:1},{targetAxisIndex:0},{targetAxisIndex:0},{targetAxisIndex:0},
                        {targetAxisIndex:0},{targetAxisIndex:0}],
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                   }
                 });

                 var dataSSP = new google.visualization.DataTable();
                 dataSSP.addColumn('datetime', 'Timestamp');
                 dataSSP.addColumn('number', 'Level');
                 dataSSP.addColumn('number', 'Number of moves');
                 dataSSP.addColumn('number', 'Number of correct trials');
                 dataSSP.addColumn('number', 'Max number of consecutive correct taps');
                 dataSSP.addColumn('number', 'Mean number of consecutive correct taps');
                 dataSSP.addColumn('number', 'Mean time between taps (s)');
                 dataSSP.addColumn('number', 'STD time between taps (s)');
                 dataSSP.addColumn('number', 'Mean trial time (s)');
                 dataSSP.addColumn('number', 'STD trial time (s)');
                 dataSSP.addColumn('number', 'Total time (s)');

                 var data = JSON.parse(info);
                var nRows = data.length;

                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                    var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col1 = parseFloat(line[1]);
                   var col2 = parseFloat(line[2]);
                   var col3 = parseFloat(line[3]);
                   var col4 = parseFloat(line[4]);
                   var col5 = parseFloat(line[5]);
                   var col6 = parseFloat(line[6]);
                   var col7 = parseFloat(line[7]);
                   var col8 = parseFloat(line[8]);
                   var col9 = parseFloat(line[9]);
                   var col10 = parseFloat(line[10]);

                   dataSSP.addRow([date, col1, col2, col3, col4, col5, col6, col7, col8, col9, col10]);
                }

                if (dataSSP.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSSP.getValue(0, 0));
                    var vEnd = new Date(dataSSP.getValue(dataSSP.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var spatialSpanDashboard = new google.visualization.Dashboard(document.getElementById('spatialSpanChart'));
                spatialSpanDashboard.bind(spatialSpanControl, spatialSpanChart);
                spatialSpanDashboard.draw(dataSSP);
            }
        }

        function showSST(info)
        {
            if (info == '[]') {
                document.getElementById('stopSignalTask_chart').style.display = 'none';
                document.getElementById('stopSignalTaskCB').disabled = 'disabled';
            } else {

                 var stopSignalTaskChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'stopSignalTaskChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Stop Signal Task Cognitive Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},
                     'legend': {'position': 'bottom'},
                     'vAxes':[{'title': 'Seconds'}, {'title': ' '}],
                     'series':[{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:1},
                     {targetAxisIndex:1},{targetAxisIndex:0},{targetAxisIndex:0},{targetAxisIndex:0}],
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1, 2, 3, 4, 5, 6, 7, 8]
                   }
                 });

                 var dataSST = new google.visualization.DataTable();
                 dataSST.addColumn('datetime', 'Timestamp');
                 dataSST.addColumn('number', 'Number of stimuli');
                 dataSST.addColumn('number', 'Number of stimuli with audio');
                 dataSST.addColumn('number', 'Number of direction errors');
                 dataSST.addColumn('number', 'Number of tap errors');
                 dataSST.addColumn('number', 'Number of timeouts');
                 dataSST.addColumn('number', 'Mean reaction time (s)');
                 dataSST.addColumn('number', 'STD reaction time (s)');
                 dataSST.addColumn('number', 'Total time (s)');

                var data = JSON.parse(info);
                var nRows = data.length;

                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                 var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col2 = parseFloat(line[2]);
                   var col3 = parseFloat(line[3]);
                   var col4 = parseFloat(line[4]);
                   var col5 = parseFloat(line[5]);
                   var col6 = parseFloat(line[6]);
                   var col7 = parseFloat(line[7]);
                   var col8 = parseFloat(line[8]);
                   var col9 = parseFloat(line[9]);

                   dataSST.addRow([date, col2, col3, col4, col5, col6, col7, col8, col9]);
                }

                if (dataSST.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataSST.getValue(0, 0));
                    var vEnd = new Date(dataSST.getValue(dataSST.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var stopSignalTaskDashboard = new google.visualization.Dashboard(document.getElementById('stopSignalTaskChart'));
                stopSignalTaskDashboard.bind(stopSignalTaskControl, stopSignalTaskChart);
                stopSignalTaskDashboard.draw(dataSST);
            }
        }

        function showAST(info)
        {
            if (info == '[]') {
                document.getElementById('attentionSwitchingTask_chart').style.display = 'none';
                document.getElementById('attentionSwitchingTaskCB').disabled = 'disabled';
            } else {

                var attentionSwitchingTaskChart = new google.visualization.ChartWrapper({
                   'chartType': 'ColumnChart',
                   'containerId': 'attentionSwitchingTaskChart',
                   'options': {
                     // Use the same chart area width as the control for axis alignment.
                     'title': 'Attention Switching Task Cognitive Test',
                     'chartArea': {'height': '50%', 'width': '90%'},
                     'hAxis': {'slantedText': false},

                     'legend': {'position': 'bottom'},
                     'vAxis':{'title': 'Seconds'},
                   },
                   // Convert the first column from 'date' to 'string'.
                   'view': {
                     'columns': [
                       {
                         'calc': function(step_length_data, rowIndex) {
                           var date = step_length_data.getFormattedValue(rowIndex, 0);
                           var splitDate = date.split(' ');
                           return splitDate[3];
                         },
                         'type': 'string'
                       }, 1]
                   }
                 });

                 var dataAST = new google.visualization.DataTable();
                 dataAST.addColumn('datetime', 'Timestamp');
                 dataAST.addColumn('number', 'Tap time (s)');

                var data = JSON.parse(info);
                var nRows = data.length;

                var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

                for (var i = 0; i < nRows; i+=stepSamplesPerPoint)
                {
                    var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                   var col1 = parseFloat(line[1]);

                   dataAST.addRow([date, col1]);
                }

                if (dataAST.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataAST.getValue(0, 0));
                    var vEnd = new Date(dataAST.getValue(dataAST.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

                var attentionSwitchingTaskDashboard = new google.visualization.Dashboard(document.getElementById('attentionSwitchingTaskChart'));
                attentionSwitchingTaskDashboard.bind(attentionSwitchingTaskControl, attentionSwitchingTaskChart);
                attentionSwitchingTaskDashboard.draw(dataAST);
            }
        }

        function showVAS(info)
        {
            if (info == '[]') {
                document.getElementById('visualAnalogueScale_chart').style.display = 'none';
                document.getElementById('visualAnalogueScaleCB').disabled = 'disabled';
            } else {

               var visualAnalogueScaleChart = new google.visualization.ChartWrapper({
               'chartType': 'ColumnChart',
               'containerId': 'visualAnalogueScaleChart',
               'options': {
                 // Use the same chart area width as the control for axis alignment.
                 'title': 'Visual Analogue Scale Cognitive Test',
                 'chartArea': {'height': '50%', 'width': '90%'},
                 'hAxis': {'slantedText': false},
                 'legend': {'position': 'bottom'},
                 'vAxes':[{'title': 'Seconds'}, {'title': ' '}],
                 'series':[{targetAxisIndex:1},{targetAxisIndex:1},{targetAxisIndex:0}],
               },
               // Convert the first column from 'date' to 'string'.
               'view': {
                 'columns': [
                   {
                     'calc': function(step_length_data, rowIndex) {
                       var date = step_length_data.getFormattedValue(rowIndex, 0);
                       var splitDate = date.split(' ');
                       return splitDate[3];
                     },
                     'type': 'string'
                   }, 1, 2, 3]
               }
             });

             var dataVAS = new google.visualization.DataTable();
             dataVAS.addColumn('datetime', 'Timestamp');
             dataVAS.addColumn('number', 'Question number');
             dataVAS.addColumn('number', 'Answer (%)');
             dataVAS.addColumn('number', 'Time (s)');

             var data = JSON.parse(info);
            var nRows = data.length;

             var stepSamplesPerPoint = getSamplesStep (nRows, maxNumberPointsPerChart);

             for (var i = 0; i < nRows; i+=stepSamplesPerPoint) {
                var datai = String(data[i]).replace(/'|,|/gi, "");
                   var line = datai.split("  ");
                   var datetime = line[0].split(" ");
                   var ymd = datetime[0].split("-");
                   var hms = datetime[1].split(":");
                   var date = new Date (ymd[0], ymd[1]-1, ymd[2], hms[0], hms[1], hms[2].split(".")[0]);

                var col1 = parseFloat(line[1]);
                var col3 = parseFloat(line[3]);
                var col4 = parseFloat(line[4]);
                dataVAS.addRow([date, col1, col3, col4]);
             }

             if (dataVAS.getNumberOfRows()>0)
                {
                    var vStart = new Date(dataVAS.getValue(0, 0));
                    var vEnd = new Date(dataVAS.getValue(dataVAS.getNumberOfRows()-1, 0));
                    if (startDateTime==null || vStart.getTime()<startDateTime.getTime()) startDateTime = vStart;
                    if (endDateTime==null || vEnd.getTime()>endDateTime.getTime()) endDateTime = vEnd;
                    control.setState({'range': {'start': startDateTime, 'end': endDateTime}});
                    control.draw();
                }

             var visualAnalogueScaleDashboard = new google.visualization.Dashboard(document.getElementById('visualAnalogueScaleChart'));
             visualAnalogueScaleDashboard.bind(visualAnalogueScalesControl, visualAnalogueScaleChart);
             visualAnalogueScaleDashboard.draw(dataVAS);
            }
        }

// -- AJAX CALLS!
      var params = 'pk='+ '{{patient}}' + '&year=' + '{{year}}' + '&month=' + '{{month}}' + '&day=' + '{{day}}';

// - FtSimple
      var ajaxFtSimple = new XMLHttpRequest();
        ajaxFtSimple.onreadystatechange = function()
        {
            if (ajaxFtSimple.readyState==4 && ajaxFtSimple.status==200)
            {
                showFtSimple(ajaxFtSimple.responseText);
                document.getElementById("loading_fts").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/ftSimple/" + '?' + params;
        ajaxFtSimple.open("GET", url, true);
        ajaxFtSimple.send();

// - FtAlternate
      var ajaxFtAlternate = new XMLHttpRequest();
        ajaxFtAlternate.onreadystatechange = function()
        {
            if (ajaxFtAlternate.readyState==4 && ajaxFtAlternate.status==200)
            {
                showFtAlternate(ajaxFtAlternate.responseText);
                document.getElementById("loading_fta").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/ftAlternate/" + '?' + params;
        ajaxFtAlternate.open("GET", url, true);
        ajaxFtAlternate.send();

// - Pal
      var ajaxPal = new XMLHttpRequest();
        ajaxPal.onreadystatechange = function()
        {
            if (ajaxPal.readyState==4 && ajaxPal.status==200)
            {
                showPal(ajaxPal.responseText);
                document.getElementById("loading_pal").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/pal/" + '?' + params;
        ajaxPal.open("GET", url, true);
        ajaxPal.send();

// - PRM
      var ajaxPrm = new XMLHttpRequest();
        ajaxPrm.onreadystatechange = function()
        {
            if (ajaxPrm.readyState==4 && ajaxPrm.status==200)
            {
                showPRM(ajaxPrm.responseText);
                document.getElementById("loading_prm").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/prm/" + '?' + params;
        ajaxPrm.open("GET", url, true);
        ajaxPrm.send();

// - SWM
      var ajaxSwm = new XMLHttpRequest();
        ajaxSwm.onreadystatechange = function()
        {
            if (ajaxSwm.readyState==4 && ajaxSwm.status==200)
            {
                showSWM(ajaxSwm.responseText);
                document.getElementById("loading_swm").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/swm/" + '?' + params;
        ajaxSwm.open("GET", url, true);
        ajaxSwm.send();

// - Spatial Span
      var ajaxSSpan = new XMLHttpRequest();
        ajaxSSpan.onreadystatechange = function()
        {
            if (ajaxSSpan.readyState==4 && ajaxSSpan.status==200)
            {
                showSSP(ajaxSSpan.responseText);
                document.getElementById("loading_ss").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/ssp/" + '?' + params;
        ajaxSSpan.open("GET", url, true);
        ajaxSSpan.send();

// - SST
      var ajaxSST = new XMLHttpRequest();
        ajaxSST.onreadystatechange = function()
        {
            if (ajaxSST.readyState==4 && ajaxSST.status==200)
            {
                showSST(ajaxSST.responseText);
                document.getElementById("loading_sst").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/sst/" + '?' + params;
        ajaxSST.open("GET", url, true);
        ajaxSST.send();

// - AST
      var ajaxAST = new XMLHttpRequest();
        ajaxAST.onreadystatechange = function()
        {
            if (ajaxAST.readyState==4 && ajaxAST.status==200)
            {
                showAST(ajaxAST.responseText);
                document.getElementById("loading_ast").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/ast/" + '?' + params;
        ajaxAST.open("GET", url, true);
        ajaxAST.send();

// - VAS
      var ajaxVAS = new XMLHttpRequest();
        ajaxVAS.onreadystatechange = function()
        {
            if (ajaxVAS.readyState==4 && ajaxVAS.status==200)
            {
                showVAS(ajaxVAS.responseText);
                document.getElementById("loading_vas").style.visibility = "hidden";
            }
        }
        var url = location.origin + "/vas/" + '?' + params;
        ajaxVAS.open("GET", url, true);
        ajaxVAS.send();


    </script>
  </head>
  <body id="body">
      <div class="headsection group" >
          <div id="horizontal">
              <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="100%" >
              {% if user.is_authenticated %}
              <p class="top-menu" style="margin-left:10px; margin-top:50px;">
                  Welcome {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)
              </p>
              {% endif %}
          </div>
          <div class="headcol headspan_2_of_2">
              {% if user.is_authenticated %}
              <p>Go back to <a href="{% url 'dashboard' %}"> Dashboard</a> ><a href="{% url 'explore_data' pk=patient %}"> Explore data</a> ></p>

                <script type="text/javascript">
                    var data = '{{hasSensorsData}}';
                    if (data==1)
                        document.write("<p><a href=\"{% url 'aggregated_raw_data' pk=patient year=year month=month day=day %}\"> Show Aggregated Data</a></p>");
                    else document.write("<p>No Sensors Data</a></p>");
                </script>

              {% else %}
              <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
              {% endif %}
          </div>
      </div>

      <div id="selection" style="width:95%; height: 150px; position:relative;" >
            <div style='width: 60%; height: 100px; position:absolute; left:25px; top: 15px;'>
                <div style="height: 20px; width:95%; position:absolute; left:25px;">
                    <label>Cognitive test data</label>
                </div>
                <div style='width: 30%; height: 75px; position:absolute; left:40px; top: 25px'>
                    <div id="fingerTappingSimpleTest_cb">
                       <label style="height: 10px; width: 80%">Finger Tapping Simple Test</label>
                       <input id="fingerTappingSimpleTestCB" type="checkbox" value="fingerTappingSimpleTest" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="fingerTappingAlternateTest_cb">
                        <label style="height: 10px; width: 80%">Finger Tapping Alternate Test</label>
                        <input id="fingerTappingAlternateTestCB" type="checkbox" value="fingerTappingAlternateTest" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="pairedAssociatesLearning_cb">
                        <label style="height: 10px; width: 80%">Paired Associates Learning</label>
                        <input id="pairedAssociatesLearningCB" type="checkbox" value="pairedAssociatesLearning" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                </div>
                <div style='width: 30%; height: 75px; position:absolute; left:315px; top: 25px'>
                    <div id="patternRecognitionMemory_cb">
                        <label style="height: 10px; width: 80%">Pattern Recognition Memory</label>
                        <input id="patternRecognitionMemoryCB" type="checkbox" value="patternRecognitionMemory" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="spatialWorkingMemory_cb">
                        <label style="height: 10px; width: 80%">Spatial Working Memory</label>
                        <input id="spatialWorkingMemoryCB" type="checkbox" value="spatialWorkingMemory" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="spatialSpan_cb">
                        <label style="height: 10px; width: 80%">Spatial Span</label>
                        <input id="spatialSpanCB" type="checkbox" value="spatialSpan" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                </div>
                <div style='width: 30%; height: 75px; position:absolute; left:590px; top: 25px'>
                    <div id="stopSignalTask_cb">
                        <label style="height: 10px; width: 80%">Stop Signal Task</label>
                        <input id="stopSignalTaskCB" type="checkbox" value="stopSignalTask" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="attentionSwitchingTask_cb">
                        <label style="height: 10px; width: 80%">Attention Switching Task</label>
                        <input id="attentionSwitchingTaskCB" type="checkbox" value="attentionSwitchingTask" style="height: 15px; width: 15px" checked onclick="handleClick(this)">
                    </div>
                    <div id="visualAnalogueScale_cb">
                        <label style="height: 10px; width: 80%">Visual Analogue Scale</label>
                        <input id="visualAnalogueScaleCB" type="checkbox" value="visualAnalogueScale" style="height: 15px; width: 15px" checked onclick="handleClick(this)" >
                    </div>
                </div>
            </div>
        </div>

      <div id = "dashboard">
        <div style='width: 98%; height: 75px; position:relative'>

            <div id="control" style='width: 100%; height: 50px; position:absolute; top: 15px'></div>
            <div id="fingerTappingSimpleTestControl" style='display:none'></div>
            <div id="fingerTappingAlternateTestControl" style='display:none'></div>
            <div id="pairedAssociatesLearningControl" style='display:none'></div>
            <div id="patternRecognitionMemoryControl" style='display:none'></div>
            <div id="spatialWorkingMemoryControl" style='display:none'></div>
            <div id="spatialSpanControl" style='display:none'></div>
            <div id="stopSignalTaskControl" style='display:none'></div>
            <div id="attentionSwitchingTaskControl" style='display:none'></div>
            <div id="visualAnalogueScalesControl" style='display:none'></div>
        </div>
         <div id = "control_chart" style='width: 98%; height: 250px; position:relative;'>
            <div id="controlChart" style="width:100%; height: 225px; position:absolute; top: 15px"></div>
        </div>
        <div id="fingerTappingSimpleTest_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="fingerTappingSimpleTestChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_fts" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="fingerTappingAlternateTest_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="fingerTappingAlternateTestChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_fta" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="pairedAssociatesLearning_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="pairedAssociatesLearningChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_pal" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="patternRecognitionMemory_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="patternRecognitionMemoryChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_prm" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="spatialWorkingMemory_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="spatialWorkingMemoryChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_swm" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="spatialSpan_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="spatialSpanChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_ss" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="stopSignalTask_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="stopSignalTaskChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_sst" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="attentionSwitchingTask_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="attentionSwitchingTaskChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_ast" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        <div id="visualAnalogueScale_chart" style='width: 95%; height: 300px; position:relative'>
            <div id="visualAnalogueScaleChart" style="width:100%; height: 275px; position:absolute; top: 15px"></div>
            <div id="loading_vas" class="overlay">
                  <div class="centered">
                    <img src="{% static 'spinnerblack.gif' %}"/>
                      <p class="h4">Loading...</p>
                  </div>
                </div>
        </div>
        </div>
  </body>
</html>