@charset "UTF-8";
.progressBarBack
{
    width:50%;
    height:11px;
    margin-left:12px;
    border: 1px solid #a7a7a7;
    background-color:#f6f6f6;
}

.bar
{
    height:9px;
    width:0%;
    background:#3070c0;
    text-align:right;
}