{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'theme.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'rmodal.js' %}"></script>
    </head>

    <body id="body" style="overflow:hidden;">
        <div class="headsection group" >
            <div id="horizontal">
              <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="100%" >
              {% if user.is_authenticated %}
              <p class="top-menu" style="margin-left:10px; margin-top:50px;">
                  Welcome {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)
              </p>
              {% endif %}
            </div>
            <div class="headcol headspan_2_of_2">
                {% if user.is_authenticated %}
                    <p class="top-menu">Go back to (<a href="{% url 'dashboard' %}">dashboard</a>)</p>
                {% endif %}
            </div>
        </div>

        <script>
            function check(data_source_configuration)
            {
                var div = document.getElementById("remote_config");
                if (data_source_configuration==0) div.style.visibility = 'hidden';
                else div.style.visibility = 'visible';
            }
        </script>

        <div>
            <div class="container-fluid">
                <div style="height: 10px"> </div>
                <h4>Choose the source where the data will be retrieved from:</h4>
                <input type="radio" name="data_source_configuration" onclick="check(this.value)" value="0">Work with local data<br>
                <input type="radio" name="data_source_configuration" onclick="check(this.value)" value="1">Work remotely<br>
                <div id="remote_config" style="margin-left:60px; visibility:hidden;">
                    <br>URL:<br>
                    <input type="text" name="url" placeholder="Remote url">
                    <br><br>Username:<br>
                    <input type="text" name="username" placeholder="Username">
                    <br><br>Password:<br>
                    <input type="password" name="pass" placeholder="Password">
                </div>
            </div>
        </div>
    </body>
</html>
