{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="{% static 'theme.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'rmodal.js' %}"></script>

	<script type="text/javascript">
		window.onload = function()
		{
			var modal = new RModal(document.getElementById('modal'),
			{
                beforeOpen: function(next) {
                    var msg = document.getElementById('err_msg');
                    msg.style.visibility = "hidden";
                	console.log('beforeOpen');
                	next();
                }
                , afterOpen: function() {
                	console.log('opened');
                }

                , beforeClose: function(next) {
                	console.log('beforeClose');
                	next();
                }
                , afterClose: function() {
                	console.log('closed');
                }
            });

			document.addEventListener('keydown', function(ev) {
				modal.keydown(ev);
			}, false);

			document.getElementById('showModal').addEventListener("click", function(ev) {
				ev.preventDefault();
				modal.open();
			}, false);

			window.modal = modal;
		}
	</script>

	<script type="text/javascript"
		src="https://www.google.com/jsapi?autoload={
			'modules':[{
				'name':'visualization',
				'version':'1',
				'packages':['corechart']
			}]
		}">

	</script>

	<script type="text/javascript">
		google.load("visualization", "1", {packages:["table"]});
		google.load("visualization", "1", {packages:["corechart"]});

		var dataArray = [];
		var idsArray = [];
		//var folders = [];
        {% for p in patients %}
            dataArray.push(['{{p.patient.code}}', '{{p.patient.profile}}', {{p.hasCognitive}}, {{p.hasMotor}}]);
            idsArray.push('{{p.patient.id}}');
        {% endfor %}
        /*
        {% for f in folders %}
            var i;
            var push = true;
            for (i=0; i<dataArray.length; i++)
            {
                if ('{{f}}'===dataArray[i][0]) push = false;
            }
            if (push) folders.push('{{f}}');
        {% endfor %}
        */
	</script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
            function drawVisualization()
            {
            // Prepare the data
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Patient Code');
            data.addColumn('string', 'Disease');
            data.addColumn('boolean', 'Has cognitive data');
            data.addColumn('boolean', 'Has motor data');

            data.addRows(dataArray);

            // create a list of columns for the dashboard
            var columns = [{
                // this column aggregates all of the data into one column
                // for use with the string filter
                type: 'string',
                calc: function (dt, row) {
                    for (var i = 0, vals = [], cols = dt.getNumberOfColumns(); i < cols; i++) {
                        vals.push(dt.getFormattedValue(row, i));
                    }
                    return vals.join('\n');
                }

            }];

            for (var i = 0, cols = data.getNumberOfColumns(); i < cols; i++) {
                columns.push(i);
            }

            var filter = new google.visualization.ControlWrapper({
                controlType: 'StringFilter',
                containerId: 'filter_div',
                options: {
                    filterColumnIndex: 0,
                    matchType: 'any',
                    caseSensitive: false,
                    ui: { label: '' }
                },
                view: { columns: columns }
            });

            var cssClasses = {
                headerRow: 'cssHeaderRow',
                tableRow: 'cssTableRow',
                oddTableRow: '.cssOddTableRow',
                selectedTableRow: '.cssSelectedTableRow',
                hoverTableRow: 'cssHoverTableRow',
                headerCell: 'cssHeaderCell',
                tableCell: 'cssTableCell',
                rowNumberCell: 'cssRowNumberCell'
            };


            // Define a pie chart
            var table = new google.visualization.ChartWrapper({
                chartType: 'Table',
                containerId: 'table_div',

                options:
                {
                    'showRowNumber':false,
                    'sortColumn':3,
                    'sortAscending':false,
                    'allowHtml':true,
                    'cssClassNames':cssClasses,
                },
                view: {
                    columns: [1, 2, 3, 4]
                }
            });

            var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));
            dashboard.bind([filter], [table]);
            dashboard.draw(data);

            // Every time the table fires the "select" event, it should call your
            // selectHandler() function.
            google.visualization.events.addListener(table, 'select', selectHandler);

            function selectHandler()
            {
                var selection = dashboard.getSelection();
                var message = '';
                var patientId = idsArray[selection[0].row];
                window.location = 'professional/explore_data/' +patientId;
            }
        }
        google.load('visualization', '1', {packages:['controls'], callback: drawVisualization});
    </script>
</head>

<body id="body" style="overflow:hidden;">
	<div class="headsection group" >
		<div id="horizontal">
              <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="100%" >
              {% if user.is_authenticated %}
              <p class="top-menu" style="margin-left:10px; margin-top:50px;">
                  Welcome {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)
              </p>
              {% endif %}
          </div>
        <div class="headcol headspan_2_of_2">
            {% if user.is_authenticated %}
                <a href="{% url 'configure' %}">Configure data source</a>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
    </div>

    <div class="section group">
        <div class="col span_1_of_2">
            <div id="modal" class="modal">
                <div class="modal-dialog animated">
                    <div class="modal-content">
                            <div class="modal-header">
                                <strong>Add a new patient</strong>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="code" class="control-label col-xs-4">Patient code</label>
                                    <div class="input-group col-xs-7">
                                        <input type="text" id="control" class="form-control" />
                                        <p id="err_msg" style="color:red; background-color:transparent; visibility:hidden;">
                                            * Cannot leave the field empty!
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="code" class="control-label col-xs-4">Upload data:</label>
                                    <div class="input-group col-xs-7">
                                        <input style="margin-left:15;" type="file" accept=".rar" id="file-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="profile" class="control-label col-xs-4">Profile</label>
                                    <div class="input-group col-xs-7">
                                        <select class="form-control" id="profile">
                                            <option value="therapist">Parkinson's disease</option>
                                            <option value="neurologist">ALS</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

        <script type="text/javascript">

            /*
           // Populate the select
           var fselect = document.getElementById("folder-control");
            for (var i=0; i<folders.length; i++)
            {
                var opt = folders[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                fselect.appendChild(el);
            }
            */

            function uploadFile()
            {
                var formData = new FormData();
                formData.append("file", file);
                formData.append("code", code);
                formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
                var ajaxFile = new XMLHttpRequest();
                ajaxFile.onreadystatechange = function()
                {
                    if (ajaxFile.readyState==4 && ajaxFile.status==200)
                    {
                        modal.close();
                        location.reload();
                    }
                }
                var url = location.origin + "/zip_file_upload/";
                ajaxFile.open("POST", url, true);
                ajaxFile.send(formData);
            }

              var file;
              var code;
              function checkInputData()
              {
                    code = document.getElementById('control');
                    var fileSelect = document.getElementById('file-control');
                    file = fileSelect.files[0];
                    if (typeof code!=="undefined")
                    {
                        code = code.value;
                        var select = document.getElementById('profile');
                        var profile = select.options[select.selectedIndex].text;
                        var params = 'code='+ code + '&profile=' + profile;
                        var ajaxPatient = new XMLHttpRequest();
                        ajaxPatient.onreadystatechange = function()
                        {
                            if (ajaxPatient.readyState==4 && ajaxPatient.status==200)
                            {
                                var res = JSON.parse(ajaxPatient.responseText)=='true';
                                if (res)
                                {
                                    if (file!==undefined) uploadFile();
                                    else
                                    {
                                        modal.close();
                                        location.reload();
                                    }
                                }
                                else
                                {
                                    var msg = document.getElementById('err_msg');
                                    msg.style.visibility = "visible";
                                }
                            }
                        }
                        var url = location.origin + "/new_patient/" + '?' + params;
                        ajaxPatient.open("GET", url, true);
                        ajaxPatient.send();
                    }
                    else
                    {
                        var msg = document.getElementById('err_msg');
                        msg.style.visibility = "visible";
                    }
                    return false;
              }
          </script>

                            <div class="modal-footer">
                                <button class="btn btn-default" type="button" onclick="modal.close();">Cancel</button>
                                <button class="btn btn-primary" type="button" onclick="checkInputData()">Save</button>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" >
                <a href="#" id="showModal" class="btn btn-success" style="height: 40px">
                    <label style="font-size: 20px; text-align:center">Add a new patient</label></a>
            </div>

            <div class="container-fluid">
                <div style="height: 50px"> </div>
                <h4>Search and filter:</h4>

            <div id="filter_div"></div>
                    <div style="height: 25px"> </div>
					<h4>Professional dashboard</h4>

					<div class="row">
						<div class="col-lg-12">
							<ul>
								<li>This is the professional dashboard</li>
								<li>You can explore your patients in the table in the right</li>
								<li>Click on any patient to have access to detailed statistics</li>
								<li>Use the form below to search and filter</li>
							</ul>
						</div>
					</div>

					<div class="row">
					</div>
				</div>
			</div>

			<div class="col span_2_of_2">
				<div id="table_div"></div>
			</div>


		</div>
	</body>
</html>
