{% load staticfiles %}

<html xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="{% static 'theme.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">

  <script type="text/javascript" src="{% static 'rmodal.js' %}"></script>
  <script type="text/javascript">
  window.onload = function() {
    var modal = new RModal(document.getElementById('modal'), {
      //content: 'Abracadabra'
      beforeOpen: function(next) {
        console.log('beforeOpen');
        next();
      }
      , afterOpen: function() {
        console.log('opened');
      }

      , beforeClose: function(next) {
        console.log('beforeClose');
        next();
      }
      , afterClose: function() {
        console.log('closed');
      }
      // , bodyClass: 'modal-open'
      // , dialogClass: 'modal-dialog modal-dialog-lg'
      // , dialogOpenClass: 'animated fadeIn'
      // , dialogCloseClass: 'animated fadeOut'

      // , focus: true
      // , focusElements: ['input.form-control', 'textarea', 'button.btn-primary']

      // , escapeClose: true
    });

    var modalGetPass = new RModal(document.getElementById('modalGetPass'), {
      //content: 'Abracadabra'
      beforeOpen: function(next) {
        console.log('beforeOpen');
        next();
      }
      , afterOpen: function() {
        console.log('opened');
      }

      , beforeClose: function(next) {
        console.log('beforeClose');
        next();
      }
      , afterClose: function() {
        console.log('closed');
      }
      // , bodyClass: 'modal-open'
      // , dialogClass: 'modal-dialog modal-dialog-lg'
      // , dialogOpenClass: 'animated fadeIn'
      // , dialogCloseClass: 'animated fadeOut'

      // , focus: true
      // , focusElements: ['input.form-control', 'textarea', 'button.btn-primary']

      // , escapeClose: true
    });

    document.addEventListener('keydown', function(ev) {
      modal.keydown(ev);
    }, false);

    document.addEventListener('keydown', function(ev) {
      modalGetPass.keydown(ev);
    }, false);

    document.getElementById('showModal').addEventListener("click", function(ev) {
      ev.preventDefault();
      modal.open();
    }, false);

    document.getElementById('showModalGetPass').addEventListener("click", function(ev) {
      ev.preventDefault();
      modalGetPass.open();
    }, false);

    window.modalGetPass = modalGetPass;
    window.modal = modal;
  }
  </script>

  <title>
    Welcome to pdManager
  </title>
</head>

<div id="modalGetPass" class="modal">
  <div class="modal-dialog animated">
    <div class="modal-content">
      <form class="form-horizontal" method="get">
        <div class="modal-header">
          <strong>Get password</strong>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="dummyText" class="control-label col-xs-4">Email</label>
            <div class="input-group col-xs-7">
              <input type="text" name="dummyText" id="dummyText" class="form-control" />
            </div>
          </div>

        </div>


        <div class="modal-footer">
          <button class="btn btn-default" type="button" onclick="modalGetPass.close();">Cancel</button>
          <button class="btn btn-primary" type="submit" onclick="modalGetPass.close();">Save</button>
        </div>

      </form>
    </div>
  </div>
</div>

<body>
  <div id="wrapper" style="width:100%; height:100%; text-align:center;">
    <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="180" width="180" margin-top="50px">

    {% block messages %}
    {% endblock %}

    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>

  </div>
</body>
</html>
