{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'theme.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'animate.css' %}" type="text/css">
        <script type="text/javascript" src="{% static 'rmodal.js' %}"></script>
    </head>

    <body id="body" style="overflow:hidden;">
        <div class="headsection group" >
            <div id="horizontal">
              <img src="{% static 'pdManager_logo.png' %}" alt="pdManager logo" height="100%" >
              {% if user.is_authenticated %}
              <p class="top-menu" style="margin-left:10px; margin-top:50px;">
                  Welcome {{ user.username }}! (<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)
              </p>
              {% endif %}
            </div>
            <div class="headcol headspan_2_of_2">
                {% if user.is_authenticated %}
                    <p>Go back to <a href="{% url 'dashboard' %}"> Dashboard</a> ><a href="{% url 'explore_data' pk=patient.pk %}"> Explore data</a> ></p>
                {% endif %}
            </div>
        </div>

        <script>
            function check(file_type)
            {
                var div = document.getElementById("cognitive-layout");
                if (file_type==1) div.style.visibility = 'hidden';
                else div.style.visibility = 'visible';
            }
        </script>

        <div>
            <div class="container-fluid">
                <div style="height: 10px"> </div>
                <h4>Add new data to the user {{ patient.code }}:</h4>
                <input type="radio" name="file_type" onclick="check(this.value)" value="0">Add cognitive test results<br>
                <input type="radio" name="file_type" onclick="check(this.value)" value="1">Add sensor data<br>
                <div id="cognitive-layout" style="margin-left:60px; visibility:hidden;">
                    <h4>Cognitive test:</h4>
                    <input type="radio" name="cognitive_option" onclick="checkCognitive(this.value)" value="0">Paired Associates Learning<br>
                    <input type="radio" name="cognitive_option" onclick="checkCognitive(this.value)" value="1">Pattern Recognition Memory<br>
                    <input type="radio" name="cognitive_option" onclick="checkCognitive(this.value)" value="2">Spatial Working Memory<br>
                    <input type="radio" name="cognitive_option" onclick="checkCognitive(this.value)" value="3">Spatial Span<br>
                    <input type="radio" name="cognitive_option" onclick="checkCognitive(this.value)" value="4">Add cognitive test results<br>
                    <input type="radio" name="cognitive_option" onclick="checkCognitive(this.value)" value="5">Ad sensor data<br>
                    <input type="radio" name="cognitive_option" onclick="checkCognitive(this.value)" value="6">Add cognitive test results<br>
                </div>
            </div>
        </div>
    </body>
</html>
