{% extends "external_base.html" %}
{% block messages %}

<h3>Reset Password</h3>

{% if form.errors %}
<div style="width:500px; border:2px dotted red; margin:0 auto; padding:10px; text-align:center; color:#222;">
  <p>Oops! </p>
    {% for field in form %}
          {{ field.errors }}
    {% endfor %}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
      email <br>{{ form.email }}
    </div>
    <button class="btn btn-primary" type="submit" style="width:300px; margin:0 auto; ">Submit</button>
</form>

<div class="row">
  <div class="col-lg-12">
    <a href="{% url 'dashboard' %}">Go back to log in.</a>  |  <a href="{% url 'register' %}">I'm new. Register!</a>
  </div>
</div>
{% endblock %}
