{% extends "external_base.html" %}
{% block messages %}
    <h3>Registration</h3>

    {% if form.errors %}
    <div class="errorMessage" style="width:100%; height:0 auto; border:2px dotted #FF0000; background:#FFE5E5; margin:5px; padding:10px; text-align:center; color:#222;">
      <p>Oops! we found some errors in the following fields:</p>
        {% for field in form %}
            {% if field.errors %}
              {{ field.label_tag }}{{ field.errors|escape }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    <form action="/accounts/register/" method="post" >{% csrf_token %}

      <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
        email <br>{{ form.email }}
      </div>

      <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
        Name <br>{{ form.name }}
      </div>

      <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
        Last name <br>{{ form.last_name }}
      </div>

      <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
        Password <br>{{ form.password1 }}
      </div>

      <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
        Repeat your password <br>{{ form.password2 }}
      </div>

    <input class="btn btn-primary" type="submit" value="Register" />

    </form>

    <div class="row">
      <div class="col-lg-12">
        <a href="{% url 'dashboard' %}">Go back to log in.</a>  |  <a href="{% url 'reset' %}">I forgot my password.</a>
      </div>
    </div>
{% endblock %}
